box-net/BoxNet.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Most of this is from http://developers.box.net/f/box.wsdl and modified to fit the REST API -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:boxnet" xmlns="urn:boxnet">
    <xsd:complexType name="RESTUser">
        <xsd:all>
            <xsd:element name="login" type="xsd:string"/>
            <xsd:element name="email" type="xsd:string"/>
            <xsd:element name="access_id" type="xsd:int"/>
            <xsd:element name="user_id" type="xsd:int"/>
            <xsd:element name="space_amount" type="xsd:long"/>
            <xsd:element name="space_used" type="xsd:long"/>
            <xsd:element name="max_upload_size" type="xsd:long"/>
        </xsd:all>
    </xsd:complexType>

    <xsd:complexType name="RESTFolder">
        <xsd:all>
            <xsd:element name="folder_id" type="xsd:long"/>
            <xsd:element name="folder_name" type="xsd:string"/>
            <xsd:element name="folder_type_id" type="xsd:long"/>
            <xsd:element name="user_id" type="xsd:int"/>
            <xsd:element name="path" type="xsd:string"/>
            <xsd:element name="shared" type="xsd:int"/>
            <xsd:element name="public_name" type="xsd:string"/>
            <xsd:element name="password" type="xsd:string"/>
            <xsd:element name="parent_folder_id" type="xsd:long"/>
        </xsd:all>
    </xsd:complexType>

    <xsd:complexType name="RESTFileInfo">
        <xsd:all>
            <xsd:element name="file_id" type="xsd:long"/>
            <xsd:element name="file_name" type="xsd:string"/>
            <xsd:element name="folder_id" type="xsd:long"/>
            <xsd:element name="shared" type="xsd:long"/>
            <xsd:element name="public_name" type="xsd:string"/>
            <xsd:element name="size" type="xsd:long"/>
            <xsd:element name="description" type="xsd:string"/>
            <xsd:element name="sha1" type="xsd:string"/>
            <xsd:element name="created" type="xsd:long"/>
            <xsd:element name="updated" type="xsd:long"/>
        </xsd:all>
    </xsd:complexType>

    <xsd:complexType name="RESTSearchResultItem">
        <xsd:all>
            <xsd:element name="name" type="xsd:string"/>
            <xsd:element name="id" type="xsd:long"/>
            <xsd:element name="description" type="xsd:string"/>
            <xsd:element name="folder_path" type="xsd:string"/>
            <xsd:element name="thumbnail" type="xsd:string"/>
            <xsd:element name="parent_id" type="xsd:string"/>
            <xsd:element name="match_type" type="RESTSearchMatchType"/>
        </xsd:all>
    </xsd:complexType>

    <xsd:complexType name="ArrayOfRESTSearchResultItem">
        <xsd:sequence>
            <xsd:element name="version" type="RESTSearchResultItem" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="RESTSearchMatchType">
        <xsd:all>
            <xsd:element name="collaborator" type="xsd:string"/>
            <xsd:element name="name" type="xsd:string"/>
            <xsd:element name="description" type="xsd:string"/>
            <xsd:element name="search_text" type="xsd:string"/>
        </xsd:all>
    </xsd:complexType>

    <xsd:complexType name="RESTComment">
        <xsd:all>
            <xsd:element name="comment_id" type="xsd:long"/>
            <xsd:element name="message" type="xsd:string"/>
            <xsd:element name="user_name" type="xsd:string"/>
            <xsd:element name="user_id" type="xsd:long"/>
            <xsd:element name="created" type="xsd:long"/>
            <xsd:element name="avatar_url" type="xsd:string"/>
            <xsd:element name="reply_comments" type="ArrayOfRESTReplyComment"/>
        </xsd:all>
    </xsd:complexType>

    <xsd:complexType name="ArrayOfRESTComment">
        <xsd:sequence>
            <xsd:element name="comment" type="RESTComment" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="RESTReplyComment">
        <xsd:all>
            <xsd:element name="comment_id" type="xsd:long"/>
            <xsd:element name="message" type="xsd:string"/>
            <xsd:element name="user_name" type="xsd:string"/>
            <xsd:element name="user_id" type="xsd:long"/>
            <xsd:element name="created" type="xsd:long"/>
            <xsd:element name="avatar_url" type="xsd:string"/>
        </xsd:all>
    </xsd:complexType>

    <xsd:complexType name="ArrayOfRESTReplyComment">
        <xsd:sequence>
            <xsd:element name="item" type="RESTReplyComment" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="RESTVersion">
        <xsd:all>
            <xsd:element name="version_id" type="xsd:long"/>
            <xsd:element name="author" type="xsd:string"/>
            <xsd:element name="updated" type="xsd:long"/>
            <!-- <xsd:element name="size" type="xsd:long"/> -->
        </xsd:all>
    </xsd:complexType>

    <xsd:complexType name="ArrayOfRESTVersion">
        <xsd:sequence>
            <xsd:element name="version" type="RESTVersion" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
