google-books/google-books.wadl.xml

<?xml version="1.0" encoding="UTF-8"?>

<application xmlns="http://wadl.dev.java.net/2009/02"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:apigee="http://api.apigee.com/wadl/2010/07/"
             xsi:schemaLocation="http://wadl.dev.java.net/2009/02 http://apigee.com/schemas/wadl-schema.xsd http://api.apigee.com/wadl/2010/07/ http://apigee.com/schemas/apigee-wadl-extensions.xsd">

	<resources base="https://www.googleapis.com/books/v1">
		
		<resource path="users/{userId}/bookshelves">
			<method id="books.bookshelves.list" name="GET" apigee:displayName="List Bookshelves">
				<apigee:tags>
					<apigee:tag primary="true">Google Books</apigee:tag>
				</apigee:tags>
				
				<apigee:authentication required="false" />
				
				<apigee:example url="users/{userId}/bookshelves" />

				<doc apigee:url="http://code.google.com/intl/en/apis/books/docs/v1/reference.html#method_books_bookshelves_list">
					<![CDATA[Retrieves a list of public Bookshelf resources for the specified user.]]>
				</doc>
				
				<request>
					<param name="userId" type="xsd:string" style="template" required="true" />
					<param name="country" type="xsd:string" style="query" required="false" />
					<param name="source" type="xsd:string" style="query" required="false" />
					<param name="fields" type="xsd:string" style="query" required="false" />
				</request>
			</method>
		</resource>
		
		<resource path="users/{userId}/bookshelves/{shelf}">
			<method id="books.bookshelves.get" name="GET" apigee:displayName="Get Bookshelf">
				<apigee:tags>
					<apigee:tag primary="true">Google Books</apigee:tag>
				</apigee:tags>
				
				<apigee:authentication required="false" />
				
				<apigee:example url="users/{userId}/bookshelves/{shelf}" />

				<doc apigee:url="http://code.google.com/intl/en/apis/books/docs/v1/reference.html#method_books_bookshelves_get">
					<![CDATA[Retrieves a specific Bookshelf resource for the specified user.]]>
				</doc>
				
				<request>
					<param name="userId" type="xsd:string" style="template" required="true" />
					<param name="shelf" type="xsd:string" style="template" required="true" />
					<param name="country" type="xsd:string" style="query" required="false" />
					<param name="source" type="xsd:string" style="query" required="false" />
					<param name="fields" type="xsd:string" style="query" required="false" />
				</request>
			</method>
		</resource>
	
	</resources>
</application>