face.com/face.com.wadl.xml

<?xml version="1.0" encoding="UTF-8"?>

<application xmlns="http://wadl.dev.java.net/2009/02"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:apigee="http://api.apigee.com/wadl/2010/07/"
             xsi:schemaLocation="http://wadl.dev.java.net/2009/02 http://apigee.com/schemas/wadl-schema.xsd http://api.apigee.com/wadl/2010/07/ http://apigee.com/schemas/apigee-wadl-extensions.xsd">

	<resources base="http://api.face.com">
		
		<resource path="faces/detect.{format}">
			<method id="detect" name="POST" apigee:displayName="Detect">
				<apigee:tags>
					<apigee:tag primary="true">Face.com</apigee:tag>
				</apigee:tags>
				
				<apigee:authentication required="true" />
				
				<apigee:example url="faces/detect.{format}?urls={urls}" />

				<doc apigee:url="http://developers.face.com/docs/api/faces-detect">
					<![CDATA[Returns tags for detected faces in one or more photos, with geometric information of the tag, eyes, nose and mouth, as well as various attributes such as gender, is wearing glasses, and is smiling.]]>
				</doc>
				
				<request>
					<param name="urls" type="xsd:string" style="query" required="true">
						<doc><![CDATA[Comma separated list of JPG photos]]></doc>
					</param>
					<param name="detector" type="xsd:string" style="query" default="Normal" required="false">
						<doc><![CDATA[Set the face detector work mode: Normal (default) or Aggressive. Aggressive mode may find a bit more faces, and is also slower. Usage of this detector counts as two Normal detections.]]></doc>
						<option value="Normal" />
						<option value="Aggressive" />
					</param>
					<param name="attributes" type="xsd:string" style="query" required="false">
						<doc><![CDATA[Can be all, none or a list of specific comma-separated attributes (see list of available attributes on the return values page. Unless specified, it returns the default 3 attributes of gender, glasses and smiling. The face attribute, marking whether there's a face present is always returned.]]></doc>
					</param>
					<param name="format" type="xsd:string" style="template" default="json">
						<option value="json" mediaType="application/json" />
						<option value="xml" mediaType="application/xml" />
					</param>
					<param name="callback" type="xsd:string" style="query" required="false">
						<doc><![CDATA[JavaScript method to wrap a json-formatted response (for JSONP support, ignored if format=xml).]]></doc>
					</param>
					<param name="callback_url" type="xsd:string" style="query" required="false">
						<doc><![CDATA[Asynchronously invoke the method, and POST the response to the specified url. Suitable for calling lengthy operations. Reponse is POSTed to the callback_url as JSON/XML in a field called 'data'. If response is not required "no-reply" constant may be used.]]></doc>
					</param>
				</request>
			</method>
		</resource>

		<resource path="faces/recognize.{format}">
			<method id="recognize" name="POST" apigee:displayName="Recognize">
				<apigee:tags>
					<apigee:tag primary="true">Face.com</apigee:tag>
				</apigee:tags>
				
				<apigee:authentication required="true" />
				
				<apigee:example url="faces/recognize.{format}?uids={uids}&amp;urls={urls}" />

				<doc apigee:url="http://developers.face.com/docs/api/faces-recognize">
					<![CDATA[Attempts to detect and recognize one or more user IDs' faces, in one or more photos. For each detected face, the face.com engine will return the most likely user IDs, or empty result for unrecognized faces. In addition, each tag includes a threshold score - any score below this number is considered a low-probability hit.]]>
				</doc>
				
				<request>
					<param name="uids" type="xsd:string" style="query" required="true">
						<doc><![CDATA[Comma separated list of user IDs to search for in the photos passed in the request]]></doc>
					</param>
					<param name="urls" type="xsd:string" style="query" required="true">
						<doc><![CDATA[Comma separated list of JPG photos]]></doc>
					</param>
					<param name="namespace" type="xsd:string" style="query" required="false">
						<doc><![CDATA[Default user namespace to be used for all users specified in the short-hand syntax (just the user ID, without the '@namespace')]]></doc>
					</param>
					<param name="detector" type="xsd:string" style="query" default="Normal" required="false">
						<doc><![CDATA[Set the face detector work mode: Normal (default) or Aggressive. Aggressive mode may find a bit more faces, and is also slower. Usage of this detector counts as two Normal detections.]]></doc>
						<option value="Normal" />
						<option value="Aggressive" />
					</param>
					<param name="attributes" type="xsd:string" style="query" required="false">
						<doc><![CDATA[Can be all, none or a list of specific comma-separated attributes (see list of available attributes on the return values page. Unless specified, it returns the default 3 attributes of gender, glasses and smiling. The face attribute, marking whether there's a face present is always returned.]]></doc>
					</param>
					<param name="format" type="xsd:string" style="template" default="json">
						<option value="json" mediaType="application/json" />
						<option value="xml" mediaType="application/xml" />
					</param>
					<param name="callback" type="xsd:string" style="query" required="false">
						<doc><![CDATA[JavaScript method to wrap a json-formatted response (for JSONP support, ignored if format=xml).]]></doc>
					</param>
					<param name="callback_url" type="xsd:string" style="query" required="false">
						<doc><![CDATA[Asynchronously invoke the method, and POST the response to the specified url. Suitable for calling lengthy operations. Reponse is POSTed to the callback_url as JSON/XML in a field called 'data'. If response is not required "no-reply" constant may be used.]]></doc>
					</param>
					<param name="user_auth" type="xsd:string" style="query" required="false">
						<doc>
						<![CDATA[Signed-in facebook or twitter user credentials. Required only when specifying UIDsin these namespaces.
Use name:value pairs, separated by comma:
- fb_user:[facebook user id]
- [Deprecated] fb_session:[facebook session id]
- fb_oauth_token [facebook oauth 2.0 access token]
and/or:
- twitter_username:[twitter screen name]
- twitter_password:[twitter password]
or:
- twitter_oauth_user:[twitter OAuth user]
- twitter_oauth_secret:[twitter OAuth secret]
- twitter_oauth_token:[twitter OAuth token]						
						]]>
						</doc>
					</param>
				</request>
			</method>
		</resource>
	
	</resources>
</application>