googleplaces/maps.googleapis.com.maps.api.place.xml

<application xmlns="http://wadl.dev.java.net/2009/02"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:apigee="http://api.apigee.com/wadl/2010/07/"
             xsi:schemaLocation="http://wadl.dev.java.net/2009/02 http://apigee.com/schemas/wadl-schema.xsd http://api.apigee.com/wadl/2010/07/ http://apigee.com/schemas/apigee-wadl-extensions.xsd">

    <resources base="https://maps.googleapis.com/maps/api/place/">

        <!-- Searches -->

        <resource path="searches">
            <method id="Searches" name="GET" apigee:displayName="Searches">
                <apigee:tags>
                    <apigee:tag primary="true">Searches</apigee:tag>
                </apigee:tags>

                <apigee:authentication required="true"/>

                <apigee:example url="search/{output}?parameters"/>

                <doc title="Searches" apigee:url="http://code.google.com/apis/maps/documentation/places/#PlaceSearches">
                    <![CDATA[Place Searches, which return a list of Places that are near a user's provided location.]]>
                </doc>

                <request>
                    <!-- Required parameters -->

                    <param name="output" type="xsd:string" style="template" required="false">
                        <doc apigee:url="http://code.google.com/apis/maps/documentation/places/#PlaceSearches">
                            <![CDATA[output may be either of the following values: json (recommended) indicates output in JavaScript Object Notation (JSON), xml indicates output as XML]]>
                        </doc>
                    </param>

                    <!-- Common parameters -->

                    <param name="key" type="xsd:string" style="query" required="true">
                        <doc apigee:url="http://code.google.com/apis/maps/documentation/places/#PlaceSearches">
                            <![CDATA[Your application's API key. This key identifies your application for purposes of quota management and so that Places added from your application are made immediately available to your app.]]>
                        </doc>
                    </param>

                    <param name="location" type="xsd:string" style="query" required="true">
                        <doc apigee:url="http://code.google.com/apis/maps/documentation/places/#PlaceSearches">
                            <![CDATA[The latitude/longitude around which to retrieve Place information. This must be specified as latitude,longitude.]]>
                        </doc>
                    </param>

                    <param name="radius" type="xsd:string" style="query" required="true">
                        <doc apigee:url="http://code.google.com/apis/maps/documentation/places/#PlaceSearches">
                            <![CDATA[The distance (in meters) within which to return Place results. The recommended best practice is to set radius based on the accuracy of the location signal as given by the location sensor. Note that setting a radius biases results to the indicated area, but may not fully restrict results to the specified area.]]>
                        </doc>
                    </param>

                    <param name="sensor" type="xsd:boolean" style="query" required="true">
                        <doc apigee:url="http://code.google.com/apis/maps/documentation/places/#PlaceSearches">
                            <![CDATA[Indicates whether or not the directions request comes from a device with a location sensor. This value must be either true or false.]]>
                        </doc>
                    </param>

                    <param name="keyword" type="xsd:string" style="query" required="false">
                        <doc apigee:url="http://code.google.com/apis/maps/documentation/places/#PlaceSearches">
                            <![CDATA[A term to be matched against all available fields, including but not limited to name, type, and address, as well as customer reviews and other third-party content]]>
                        </doc>
                    </param>

                    <param name="language" type="xsd:string" style="query" required="false">
                        <doc apigee:url="http://code.google.com/apis/maps/documentation/places/#PlaceSearches">
                            <![CDATA[The language in which to return results.]]>
                        </doc>
                    </param>

                    <param name="name" type="xsd:string" style="query" required="false">
                        <doc apigee:url="http://code.google.com/apis/maps/documentation/places/#PlaceSearches">
                            <![CDATA[A term to be matched against the names of Places. Results will be restricted to those containing the passed name value.]]>
                        </doc>
                    </param>

                    <param name="types" type="xsd:string" style="query" required="false">
                        <doc apigee:url="http://code.google.com/apis/maps/documentation/places/#PlaceSearches">
                            <![CDATA[Restricts the results to Places matching at least one of the specified types. Types should be separated with a pipe symbol (type1|type2|etc). ]]>
                        </doc>
                    </param>

                </request>

                <response>
                    <representation mediaType="application/json"/>
                    <representation mediaType="application/xml"/>
                </response>
            </method>
        </resource>

        <resource path="Details">
            <method id="Details" name="GET" apigee:displayName="Details">
            <apigee:tags>
                <apigee:tag primary="true">Details</apigee:tag>
            </apigee:tags>

            <apigee:authentication required="true"/>

            <apigee:example url="details/{output}?parameters"/>

            <doc title="Details" apigee:url="http://code.google.com/apis/maps/documentation/places/#PlaceSearches">
                <![CDATA[Once you have a reference from a Place Search request, you can request more details about a particular establishment or point of interest by initiating a Place Details request. A Place Details request returns more comprehensive information about the indicated place such as its complete address, phone number, user rating, etc.]]>
            </doc>

            <request>

                <param name="output" type="xsd:string" style="template" required="false">
                    <doc apigee:url="http://code.google.com/apis/maps/documentation/places/#PlaceSearches">
                        <![CDATA[output may be either of the following values: json (recommended) indicates output in JavaScript Object Notation (JSON), xml indicates output as XML]]>
                    </doc>
                </param>

                <param name="key" type="xsd:string" style="query" required="true">
                    <doc apigee:url="http://code.google.com/apis/maps/documentation/places/#PlaceSearches">
                        <![CDATA[Your application's API key. This key identifies your application for purposes of quota management and so that Places added from your application are made immediately available to your app.]]>
                    </doc>
                </param>

                <param name="sensor" type="xsd:boolean" style="query" required="true">
                    <doc apigee:url="http://code.google.com/apis/maps/documentation/places/#PlaceSearches">
                        <![CDATA[Indicates whether or not the directions request comes from a device with a location sensor. This value must be either true or false.]]>
                    </doc>
                </param>

                <param name="reference" type="xsd:boolean" style="query" required="true">
                    <doc apigee:url="http://code.google.com/apis/maps/documentation/places/#PlaceSearches">
                        <![CDATA[A textual identifier that uniquely identifies a place, returned from a Place search request.]]>
                    </doc>
                </param>

                <!-- Optional Params -->
                <param name="language" type="xsd:string" style="query" required="false">
                    <doc apigee:url="http://code.google.com/apis/maps/documentation/places/#PlaceSearches">
                        <![CDATA[The language in which to return results.]]>
                    </doc>
                </param>

            </request>

            <response>
                <representation mediaType="application/json"/>
                <representation mediaType="application/xml"/>
            </response>
            </method>

        </resource>

        <resource path="CheckIns">
            <method id="CheckIns" name="POST" apigee:displayName="CheckIns">
                <apigee:tags>
                    <apigee:tag primary="true">CheckIns</apigee:tag>
                </apigee:tags>

                <apigee:authentication required="true"/>

                <apigee:example url="add/json?sensor=true_or_false&key=api_key"/>

                <doc title="CheckIns" apigee:url="http://code.google.com/apis/maps/documentation/places/#PlaceSearches">
                    <![CDATA[Check-in activity from your application is reflected in the Place search results that are returned - popular establishments are ranked more highly, making it easy for your users to find likely matches.]]>
                </doc>

                <request>

                    <param name="output" type="xsd:string" style="template" required="false">
                        <doc apigee:url="http://code.google.com/apis/maps/documentation/places/#PlaceSearches">
                            <![CDATA[output may be either of the following values: json (recommended) indicates output in JavaScript Object Notation (JSON), xml indicates output as XML]]>
                        </doc>
                    </param>

                    <!-- Required Parameters -->
                    <param name="key" type="xsd:string" style="query" required="true">
                        <doc apigee:url="http://code.google.com/apis/maps/documentation/places/#PlaceSearches">
                            <![CDATA[Your application's API key. This key identifies your application for purposes of quota management and so that Places added from your application are made immediately available to your app.]]>
                        </doc>
                    </param>

                    <param name="sensor" type="xsd:boolean" style="query" required="true">
                        <doc apigee:url="http://code.google.com/apis/maps/documentation/places/#PlaceSearches">
                            <![CDATA[Indicates whether or not the directions request comes from a device with a location sensor. This value must be either true or false.]]>
                        </doc>
                    </param>

                    <param name="reference" type="xsd:boolean" style="query" required="true">
                        <doc apigee:url="http://code.google.com/apis/maps/documentation/places/#PlaceSearches">
                            <![CDATA[A textual identifier that uniquely identifies a place, returned from a Place search request.]]>
                        </doc>
                    </param>

                </request>

                <response>
                    <representation mediaType="application/json"/>
                    <representation mediaType="application/xml"/>
                </response>
            </method>
        </resource>

        <resource path="Reports">
            <method id="Reports" name="POST" apigee:displayName="Reports">
                <apigee:tags>
                    <apigee:tag primary="true">Reports</apigee:tag>
                </apigee:tags>

                <apigee:authentication required="true"/>

                <apigee:example url=""/>

                <doc title="Reports" apigee:url="http://code.google.com/apis/maps/documentation/places/#PlaceSearches">
                    <![CDATA[Check-in activity from your application is reflected in the Place search results that are returned - popular establishments are ranked more highly, making it easy for your users to find likely matches.]]>
                </doc>

                <request>

                    <param name="sensor" type="xsd:boolean" style="query" required="true">
                        <doc apigee:url="http://code.google.com/apis/maps/documentation/places/#PlaceSearches">
                            <![CDATA[Indicates whether or not the directions request comes from a device with a location sensor. This value must be either true or false.]]>
                        </doc>
                    </param>

                    <param name="output" type="xsd:string" style="template" required="false">
                        <doc apigee:url="http://code.google.com/apis/maps/documentation/places/#PlaceSearches">
                            <![CDATA[output may be either of the following values: json (recommended) indicates output in JavaScript Object Notation (JSON), xml indicates output as XML]]>
                        </doc>
                    </param>

                    <!-- Required Parameters -->
                    <param name="key" type="xsd:string" style="query" required="true">
                        <doc apigee:url="http://code.google.com/apis/maps/documentation/places/#PlaceSearches">
                            <![CDATA[Your application's API key. This key identifies your application for purposes of quota management and so that Places added from your application are made immediately available to your app.]]>
                        </doc>
                    </param>


                    <param name="reference" type="xsd:boolean" style="query" required="true">
                        <doc apigee:url="http://code.google.com/apis/maps/documentation/places/#PlaceSearches">
                            <![CDATA[A textual identifier that uniquely identifies a place, returned from a Place search request.]]>
                        </doc>
                    </param>

                    <param name="language" type="xsd:string" style="query" required="false">
                        <doc apigee:url="http://code.google.com/apis/maps/documentation/places/#PlaceSearches">
                            <![CDATA[The language in which to return results.]]>
                        </doc>
                    </param>

                    <param name="name" type="xsd:string" style="query" required="false">
                        <doc apigee:url="http://code.google.com/apis/maps/documentation/places/#PlaceSearches">
                            <![CDATA[A term to be matched against the names of Places. Results will be restricted to those containing the passed name value.]]>
                        </doc>
                    </param>

                    <param name="types" type="xsd:string" style="query" required="false">
                        <doc apigee:url="http://code.google.com/apis/maps/documentation/places/#PlaceSearches">
                            <![CDATA[Restricts the results to Places matching at least one of the specified types. Types should be separated with a pipe symbol (type1|type2|etc). ]]>
                        </doc>
                    </param>

                    <param name="location" type="xsd:string" style="query" required="true">
                        <doc apigee:url="http://code.google.com/apis/maps/documentation/places/#PlaceSearches">
                            <![CDATA[The latitude/longitude around which to retrieve Place information. This must be specified as latitude,longitude.]]>
                        </doc>
                    </param>

                </request>

                <response>
                    <representation mediaType="application/json"/>
                    <representation mediaType="application/xml"/>
                </response>
            </method>
        </resource>
    </resources>
</application>
