sample-wadl.xml

<?xml version="1.0" encoding="UTF-8"?>
<application xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:apigee="http://api.apigee.com/wadl/2010/07/" xmlns="http://wadl.dev.java.net/2009/02"
             xsi:schemaLocation="http://wadl.dev.java.net/2009/02 ../../resources/wadl-schema.xsd    http://api.apigee.com/wadl/2010/07/ ../../resources/apigee-wadl-extensions.xsd">
    <resources base="http://api.simplegeo.com/0.1">
        <resource path="records/{layer}/{id}.{format}">
            <param name="layer" required="true" type="xsd:string" style="query" default="com.simplegeo.test"/>
            <param name="id" required="true" type="xsd:string" style="query" default="1234"/>
            <param name="format" type="xsd:string" style="template" required="true" default="json">
                <option value="json" mediaType="application/json"/>
            </param>
            <method id="get_records" name="GET">
                <apigee:tags xmlns:apigee="http://api.apigee.com/wadl/2010/07/">
                    <apigee:tag primary="true">Layer</apigee:tag>
                </apigee:tags>
                <apigee:authentication xmlns:apigee="http://api.apigee.com/wadl/2010/07/" required="true"/>
                <apigee:example xmlns:apigee="http://api.apigee.com/wadl/2010/07/" url="/records/{layer}/{id}.{format}"/>
                <doc xmlns:apigee="http://api.apigee.com/wadl/2010/07/" title=""
                     apigee:url="https://simplegeo.zendesk.com/entries/208976-api-endpoints">
                    <![CDATA[Fetch a Record]]></doc>
            </method>
        </resource>
        <resource path="records/{layer}/{id}.{format}">
            <param name="layer" required="true" type="xsd:string" style="query" default="com.simplegeo.test"/>
            <param name="id" required="true" type="xsd:string" style="query" default="1234"/>
            <param name="format" type="xsd:string" style="template" required="true" default="json">
                <option value="json" mediaType="application/json"/>
            </param>
            <method id="add_records" name="PUT">
                <apigee:tags xmlns:apigee="http://api.apigee.com/wadl/2010/07/">
                    <apigee:tag primary="true">Layer</apigee:tag>
                </apigee:tags>
                <apigee:authentication xmlns:apigee="http://api.apigee.com/wadl/2010/07/" required="true"/>
                <apigee:example xmlns:apigee="http://api.apigee.com/wadl/2010/07/" url="/records/{layer}/{id}.{format}"/>
                <doc xmlns:apigee="http://api.apigee.com/wadl/2010/07/" title=""
                     apigee:url="https://simplegeo.zendesk.com/entries/208976-api-endpoints">
                    <![CDATA[Post a record]]></doc>
            </method>
        </resource>
        <resource path="records/{layer}/{id}.{format}">
            <param name="layer" required="true" type="xsd:string" style="query" default="com.simplegeo.test"/>
            <param name="id" required="true" type="xsd:string" style="query" default="1234"/>
            <param name="format" type="xsd:string" style="template" required="true" default="json">
                <option value="json" mediaType="application/json"/>
            </param>
            <method id="delete_records" name="DELETE">
                <apigee:tags xmlns:apigee="http://api.apigee.com/wadl/2010/07/">
                    <apigee:tag primary="true">Layer</apigee:tag>
                </apigee:tags>
                <apigee:authentication xmlns:apigee="http://api.apigee.com/wadl/2010/07/" required="true"/>
                <apigee:example xmlns:apigee="http://api.apigee.com/wadl/2010/07/" url="/records/{layer}/{id}.{format}"/>
                <doc xmlns:apigee="http://api.apigee.com/wadl/2010/07/" title=""
                     apigee:url="https://simplegeo.zendesk.com/entries/208976-api-endpoints">
                    <![CDATA[Delete a record]]></doc>
            </method>
        </resource>
        <resource path="records/{layer}.{format}">
            <param name="layer" required="true" type="xsd:string" style="query" default="com.simplegeo.test"/>
            <param name="format" type="xsd:string" style="template" required="true" default="json">
                <option value="json" mediaType="application/json"/>
            </param>
            <method id="insert_multiplerecords" name="POST">
                <apigee:tags xmlns:apigee="http://api.apigee.com/wadl/2010/07/">
                    <apigee:tag primary="true">Layer</apigee:tag>
                </apigee:tags>
                <apigee:authentication xmlns:apigee="http://api.apigee.com/wadl/2010/07/" required="true"/>
                <apigee:example xmlns:apigee="http://api.apigee.com/wadl/2010/07/" url="/records/{layer}.{format}"/>
                <doc xmlns:apigee="http://api.apigee.com/wadl/2010/07/" title=""
                     apigee:url="https://simplegeo.zendesk.com/entries/208976-api-endpoints">
                    <![CDATA[Insert or update multiple records at once]]></doc>
            </method>
        </resource>
        <resource path="records/{layer}/{id}/history.{format}">
            <param name="layer" required="true" type="xsd:string" style="query" default="com.simplegeo.test"/>
            <param name="id" required="true" type="xsd:string" style="query" default="1234"/>
            <param name="limit" required="false" type="xsd:string" style="query" default="20"/>
            <param name="start" required="false" type="xsd:string" style="query" default="1270000000"/>
            <param name="end" required="false" type="xsd:string" style="query" default="1290000000"/>
            <param name="format" type="xsd:string" style="template" required="true" default="json">
                <option value="json" mediaType="application/json"/>
            </param>
            <method id="record-layer-history" name="GET">
                <apigee:tags xmlns:apigee="http://api.apigee.com/wadl/2010/07/">
                    <apigee:tag primary="true">Layer</apigee:tag>
                </apigee:tags>
                <apigee:authentication xmlns:apigee="http://api.apigee.com/wadl/2010/07/" required="true"/>
                <apigee:example xmlns:apigee="http://api.apigee.com/wadl/2010/07/"
                                url="/records/{layer}/{id}/history.{format}"/>
                <doc xmlns:apigee="http://api.apigee.com/wadl/2010/07/" title=""
                     apigee:url="https://simplegeo.zendesk.com/entries/208976-api-endpoints">
                    <![CDATA[Gets the history of a record]]></doc>
            </method>
        </resource>
        <resource path="records/{layer}/nearby/{geohash}.{format}">
            <param name="layer" required="true" type="xsd:string" style="query" default="com.simplegeo.test"/>
            <param name="geohash" required="true" type="xsd:string" style="query" default="9q8yyk8y"/>
            <method id="get_nearby_geohash" name="GET">
                <apigee:tags xmlns:apigee="http://api.apigee.com/wadl/2010/07/">
                    <apigee:tag primary="true">Layer</apigee:tag>
                </apigee:tags>
                <apigee:authentication xmlns:apigee="http://api.apigee.com/wadl/2010/07/" required="true"/>
                <apigee:example xmlns:apigee="http://api.apigee.com/wadl/2010/07/"
                                url="/records/{layer}/nearby/{geohash}.{format}"/>
                <doc xmlns:apigee="http://api.apigee.com/wadl/2010/07/" title=""
                     apigee:url="https://simplegeo.zendesk.com/entries/208976-api-endpoints"><![CDATA[Gets the nearby points from a given geohash. Returns records in a given geohash for the given
                    layer. By nature, a geohash is a bounding box, which means that no radius or center point is needed.
                    Searching by a simple geohash is the fastest way to do a nearby query with the API.
                ]]></doc>
            </method>
        </resource>
        <resource path="records/{layer}/nearby/{lat},{lon}.{format}">
            <param name="layer" required="true" type="xsd:string" style="query" default="com.simplegeo.test"/>
            <param name="lat" required="true" type="xsd:string" style="query" default="37.77275"/>
            <param name="lon" required="true" type="xsd:string" style="query" default="-122.40572"/>
            <param name="format" type="xsd:string" style="template" required="true" default="json">
                <option value="json" mediaType="application/json"/>
            </param>
            <method id="get_nearby" name="GET">
                <apigee:tags xmlns:apigee="http://api.apigee.com/wadl/2010/07/">
                    <apigee:tag primary="true">Layer</apigee:tag>
                </apigee:tags>
                <apigee:authentication xmlns:apigee="http://api.apigee.com/wadl/2010/07/" required="true"/>
                <apigee:example xmlns:apigee="http://api.apigee.com/wadl/2010/07/"
                                url="/records/{layer}/nearby/{lat},{lon}.{format}"/>
                <doc xmlns:apigee="http://api.apigee.com/wadl/2010/07/" title=""
                     apigee:url="https://simplegeo.zendesk.com/entries/208976-api-endpoints"><![CDATA[Search the API using a given latitude and longitude. The default radius is 1 kilometer and 25
                    records are returned by default. Specifying start and end in the request will search the API within
                    a given time interval. To make use of our time based index, the difference between start and end
                    must not be greater than 60 minutes.
                ]]></doc>
            </method>
        </resource>
        <resource path="nearby/address/{lat},{lon}.{format}">
            <param name="lat" required="true" type="xsd:string" style="query" default="37.77275"/>
            <param name="lon" required="true" type="xsd:string" style="query" default="-122.40572"/>
            <param name="format" type="xsd:string" style="template" required="true" default="json">
                <option value="json" mediaType="application/json"/>
            </param>
            <method id="get_nearby_address" name="GET">
                <apigee:tags xmlns:apigee="http://api.apigee.com/wadl/2010/07/">
                    <apigee:tag primary="true">Miscellaneous</apigee:tag>
                </apigee:tags>
                <apigee:authentication xmlns:apigee="http://api.apigee.com/wadl/2010/07/" required="true"/>
                <apigee:example xmlns:apigee="http://api.apigee.com/wadl/2010/07/"
                                url="/nearby/address/{lat},{lon}.{format}"/>
                <doc xmlns:apigee="http://api.apigee.com/wadl/2010/07/" title=""
                     apigee:url="https://simplegeo.zendesk.com/entries/208976-api-endpoints"><![CDATA[Does a reverse geocode lookup, which converts the given latitude and longitude into a human
                    readable point with address, street, city, state, and county depending on where the person is
                    currently located. NOTE: The reverse geocoder only works for coordinates in the US currently.
                ]]></doc>
            </method>
        </resource>
        <resource path="contains/{lat},{lon}.{format}">
            <param name="lat" required="true" type="xsd:string" style="query" default="37.77275"/>
            <param name="lon" required="true" type="xsd:string" style="query" default="-122.40572"/>
            <param name="format" type="xsd:string" style="template" required="true" default="json">
                <option value="json" mediaType="application/json"/>
            </param>
            <method id="contains" name="GET">
                <apigee:tags xmlns:apigee="http://api.apigee.com/wadl/2010/07/">
                    <apigee:tag primary="true">Miscellaneous</apigee:tag>
                </apigee:tags>
                <apigee:authentication xmlns:apigee="http://api.apigee.com/wadl/2010/07/" required="true"/>
                <apigee:example xmlns:apigee="http://api.apigee.com/wadl/2010/07/" url="/contains/{lat},{lon}.{format}"/>
                <doc xmlns:apigee="http://api.apigee.com/wadl/2010/07/" title=""
                     apigee:url="https://simplegeo.zendesk.com/entries/208976-api-endpoints"><![CDATA[Does a "pushpin" query through a series of polygon layers and identifies the "cone" of
                    administrative and other boundaries in which the point lies. Returns a list of features containing
                    id, name, abbr, type and bounds fields.
                ]]></doc>
            </method>
        </resource>
        <resource path="overlaps/{south},{west},{north},{east}.{format}">
            <param name="south" required="true" type="xsd:string" style="query" default="42.4166"/>
            <param name="west" required="true" type="xsd:string" style="query" default="-82.9189"/>
            <param name="north" required="true" type="xsd:string" style="query" default="42.4465"/>
            <param name="east" required="true" type="xsd:string" style="query" default="-82.8753"/>
            <param name="limit" required="false" type="xsd:string" style="query" default="20"/>
            <param name="type" required="false" type="xsd:string" style="query" default="Neighborhood"/>
            <param name="format" type="xsd:string" style="template" required="true" default="json">
                <option value="json" mediaType="application/json"/>
            </param>
            <method id="overlaps" name="GET">
                <apigee:tags xmlns:apigee="http://api.apigee.com/wadl/2010/07/">
                    <apigee:tag primary="true">Miscellaneous</apigee:tag>
                </apigee:tags>
                <apigee:authentication xmlns:apigee="http://api.apigee.com/wadl/2010/07/" required="true"/>
                <apigee:example xmlns:apigee="http://api.apigee.com/wadl/2010/07/"
                                url="/overlaps/{south},{west},{north},{east}.{format}"/>
                <doc xmlns:apigee="http://api.apigee.com/wadl/2010/07/" title=""
                     apigee:url="https://simplegeo.zendesk.com/entries/208976-api-endpoints"><![CDATA[Queries a series of polygon layers and identifies the "cone" of administrative and other
                    boundaries that overlap with the given bounding box. The arguments are expected in units of latitude
                    and longitude. The results are returned in the same form as the contains query.
                ]]></doc>
            </method>
        </resource>
        <resource path="boundary/{id}.{format}">
            <param name="lon" required="true" type="xsd:string" style="query"
                   default="Urban_Area:San_Francisco1:9q9jsg"/>
            <param name="format" type="xsd:string" style="template" required="true" default="json">
                <option value="json" mediaType="application/json"/>
            </param>
            <method id="boundary" name="GET">
                <apigee:tags xmlns:apigee="http://api.apigee.com/wadl/2010/07/">
                    <apigee:tag primary="true">Boundary</apigee:tag>
                </apigee:tags>
                <apigee:authentication xmlns:apigee="http://api.apigee.com/wadl/2010/07/" required="true"/>
                <apigee:example xmlns:apigee="http://api.apigee.com/wadl/2010/07/" url="/boundary/{id}.{format}"/>
                <doc xmlns:apigee="http://api.apigee.com/wadl/2010/07/" title=""
                     apigee:url="https://simplegeo.zendesk.com/entries/208976-api-endpoints"><![CDATA[Returns a feature object from the SimpleGeo gazetteer, as above, along with the geometry of the
                    feature in GeoJSON format in the geometry field. The id parameter to this method should given in the
                    same form as returned by the contains method above.
                ]]></doc>
            </method>
        </resource>
        <resource path="density/{dayname}/{hour}/{lat},{lon}.{format}">
            <param name="dayname" required="true" type="xsd:string" style="query" default="mon"/>
            <param name="hour" required="true" type="xsd:string" style="query" default="15"/>
            <param name="lat" required="true" type="xsd:string" style="query" default="37.77275"/>
            <param name="lon" required="true" type="xsd:string" style="query" default="-122.40572"/>
            <param name="format" type="xsd:string" style="template" required="true" default="json">
                <option value="json" mediaType="application/json"/>
            </param>
            <method id="density_hour" name="GET">
                <apigee:tags xmlns:apigee="http://api.apigee.com/wadl/2010/07/">
                    <apigee:tag primary="true">Density</apigee:tag>
                </apigee:tags>
                <apigee:authentication xmlns:apigee="http://api.apigee.com/wadl/2010/07/" required="true"/>
                <apigee:example xmlns:apigee="http://api.apigee.com/wadl/2010/07/"
                                url="/density/{dayname}/{hour}/{lat},{lon}.{format}"/>
                <doc xmlns:apigee="http://api.apigee.com/wadl/2010/07/" title=""
                     apigee:url="https://simplegeo.zendesk.com/entries/208976-api-endpoints"><![CDATA[Returns the Skyhook SpotRank data for the requested location on a given day and hour. dayname is
                    one of: mon, tue, wed, thu, fri, sat, or sun. hour is between 0-23.
                ]]></doc>
            </method>
        </resource>
        <resource path="density/{dayname}/{lat},{lon}.{format}">
            <param name="dayname" required="true" type="xsd:string" style="query" default="mon"/>
            <param name="lat" required="true" type="xsd:string" style="query" default="37.77275"/>
            <param name="lon" required="true" type="xsd:string" style="query" default="-122.40572"/>
            <param name="format" type="xsd:string" style="template" required="true" default="json">
                <option value="json" mediaType="application/json"/>
            </param>
            <method id="density_dayname" name="GET">
                <apigee:tags xmlns:apigee="http://api.apigee.com/wadl/2010/07/">
                    <apigee:tag primary="true">Density</apigee:tag>
                </apigee:tags>
                <apigee:authentication xmlns:apigee="http://api.apigee.com/wadl/2010/07/" required="true"/>
                <apigee:example xmlns:apigee="http://api.apigee.com/wadl/2010/07/"
                                url="/density/{dayname}/{lat},{lon}.{format}"/>
                <doc xmlns:apigee="http://api.apigee.com/wadl/2010/07/" title=""
                     apigee:url="https://simplegeo.zendesk.com/entries/208976-api-endpoints"><![CDATA[Returns the Skyhook SpotRank data for the requested location on a given day. dayname is one of:
                    mon, tue, wed, thu, fri, sat, or sun.
                ]]></doc>
            </method>
        </resource>
    </resources>
</application>