soundcloud.xml

<application xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xsi:schemaLocation="http://www.w3.org/Submission/wadl/wadl.xsd"
             xmlns:apigee="http://www.apigee.com/schema/2010/07/wadl/"
             xmlns="http://wadl.dev.java.net/2009/02">

  <!-- We would like to have these on all requests:
       {format} => {'json', 'xml'} at the end of the resource after a dot
  -->

  <resources base="http://api.sandbox-soundcloud.com/"> 
    <param name="consumer_key" required="true" type="xsd:string" style="query" default=""/>
    <!-- BEGIN tracks -->
    <resource path="tracks">
      <param name="q" required="false" type="xsd:string" style="query" default=""/>
      <!--Tags are a comma separated list-->
      <param name="tags" required="false" type="xsd:string" style="query" default=""/>
      <!--Filter is an enumeration and can be one of these values (all,public,private,streamable,downloadable)-->
      <param name="filter" required="false" type="xsd:string" style="query" default="all">
        <option value="all"/>
        <option value="public"/>
        <option value="private"/>
        <option value="streamable"/>
        <option value="downloadable"/>
      </param>
      <!--Order is an enumeration and can be one of these values (created_at, hotness)-->
      <param name="order" required="false" type="xsd:string" style="query" default="create_at">
        <option value="created_at"/>
        <option value="hotness"/>
      </param>
      <!--BPM in an integer between 0 and 999-->
      <param name="bpm[from]" required="false" type="xsd:string" style="query" default=""/>
      <param name="bpm[to]" required="false" type="xsd:string" style="query" default=""/>
      <!--Duration is an integer representing milliseconds-->
      <param name="duration[from]" required="false" type="xsd:string" style="query" default=""/>
      <param name="duration[to]" required="false" type="xsd:string" style="query" default=""/>
      <!--Created_at is a date in the format yyyy-mm-dd hh:mm:ss-->
      <param name="created_at[from]" required="false" type="xsd:string" style="query" default=""/>
      <param name="created_at[to]" required="false" type="xsd:string" style="query" default=""/>
      <!--Ids is a comma separated list of Ids-->
      <param name="ids" required="false" type="xsd:string" style="query" default=""/>
      <!--Genres is a comma separated list of Genres-->
      <param name="ids" required="false" type="xsd:string" style="query" default=""/>
      <param name="order" required="false" type="xsd:string" style="query" default="">
          <option value="original"/>
          <option value="remix"/>
          <option value="live"/>
          <option value="recording"/>
          <option value="spoken"/>
          <option value="podcast"/>
          <option value="demo"/>
          <option value="in progress"/>
          <option value="stem"/>
          <option value="loop"/>
          <option value="sound effect"/>
          <option value="sample"/>
          <option value="other"/>
      </param>
      <method name="GET" id="get_tracks">
        <authentication required="false"/>
        <doc url="http://github.com/soundcloud/api/wiki/10.2-Resources:-tracks">Returns a collection of tracks</doc>
      </method>
    </resource>

    <resource path="tracks/{track_id}">
      <method name="GET" id="get_track">
        <authentication required="false"/>
        <param name="track_id" required="true" type="xsd:string" style="query" default="291"/>
        <doc url="http://github.com/soundcloud/api/wiki/10.2-Resources:-tracks">Returns a track by track id</doc>
      </method>
    </resource>

    <resource path="tracks/{track_id/comments}">
      <method name="GET" id="get_track_comments">
        <authentication required="false"/>
        <param name="track_id" required="true" type="xsd:string" style="query" default="291"/>
        <doc url="http://github.com/soundcloud/api/wiki/10.2-Resources:-tracks">Returns comments of a track by track id</doc>
      </method>
    </resource>
    <!-- END tracks -->

    <!-- BEGIN users -->
    <resource path="users">
      <param name="q" required="false" type="xsd:string" style="query" default=""/>
      <method name="GET" id="get_users">
        <authentication required="false"/>
        <doc url="http://github.com/soundcloud/api/wiki/10.1-Resources:-users">Returns a collection of users</doc>
      </method>
    </resource>

    <resource path="users/{user_id}">
      <method name="GET" id="get_user">
        <authentication required="false"/>
        <param name="user_id" required="true" type="xsd:string" style="query" default="183"/>
        <doc url="http://github.com/soundcloud/api/wiki/10.1-Resources:-users">Returns a user by user id</doc>
      </method>
    </resource>

    <resource path="users/{user_id}/tracks">
      <method name="GET" id="get_user_tracks">
        <authentication required="false"/>
        <param name="user_id" required="true" type="xsd:string" style="query" default="183"/>
        <doc url="http://github.com/soundcloud/api/wiki/10.1-Resources:-users">Returns a collection of tracks uploaded by user id</doc>
      </method>
    </resource>

    <resource path="users/{user_id}/comments">
      <method name="GET" id="get_user_comments">
        <authentication required="false"/>
        <param name="user_id" required="true" type="xsd:string" style="query" default="183"/>
        <doc url="http://github.com/soundcloud/api/wiki/10.1-Resources:-users">Returns a collection of comments made by user id</doc>
      </method>
    </resource>

    <resource path="users/{user_id}/followings">
      <method name="GET" id="get_user_followings">
        <authentication required="false"/>
        <param name="user_id" required="true" type="xsd:string" style="query" default="183"/>
        <doc url="http://github.com/soundcloud/api/wiki/10.1-Resources:-users">Returns a collection of users the user with user id is following</doc>
      </method>
    </resource>

    <resource path="users/{user_id}/followers">
      <method name="GET" id="get_user_followers">
        <authentication required="false"/>
        <param name="user_id" required="true" type="xsd:string" style="query" default="183"/>
        <doc url="http://github.com/soundcloud/api/wiki/10.1-Resources:-users">Returns a collection of users who follow the user with user id</doc>
      </method>
    </resource>

    <resource path="users/{user_id}/favorites">
      <method name="GET" id="get_user_favorites">
        <authentication required="false"/>
        <param name="user_id" required="true" type="xsd:string" style="query" default="183"/>
        <doc url="http://github.com/soundcloud/api/wiki/10.1-Resources:-users">Returns a collection of tracks favorited user with user id</doc>
      </method>
    </resource>

    <resource path="users/{user_id}/groups">
      <method name="GET" id="get_user_groups">
        <authentication required="false"/>
        <param name="user_id" required="true" type="xsd:string" style="query" default="183"/>
        <doc url="http://github.com/soundcloud/api/wiki/10.1-Resources:-users">Returns a collection of groups joined by user with user id</doc>
      </method>
    </resource>
    <!-- END users -->
  </resources>
</application>
