google-sites/google-sites.wadl.xml

<?xml version="1.0" encoding="UTF-8"?>

<application xmlns="http://wadl.dev.java.net/2009/02"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:apigee="http://api.apigee.com/wadl/2010/07/"
             xsi:schemaLocation="http://wadl.dev.java.net/2009/02 http://apigee.com/schemas/wadl-schema.xsd http://api.apigee.com/wadl/2010/07/ http://apigee.com/schemas/apigee-wadl-extensions.xsd">

	<resources base="https://sites.google.com/feeds/">
		
		<resource path="site/{domainName}">
			<method id="site.list" name="GET" apigee:displayName="Get Sites">
				<apigee:tags>
					<apigee:tag primary="true">Google Sites</apigee:tag>
				</apigee:tags>
				
				<apigee:authentication required="true" />
				
				<apigee:example url="site/{domainName}" />

				<doc apigee:url="http://code.google.com/intl/en/apis/sites/docs/1.0/developers_guide_protocol.html#SitesFeedGET">
					<![CDATA[Gets the sites a user has access to.]]>
				</doc>
				
				<request>
					<param name="domainName" type="xsd:string" style="template" required="true" />
				</request>
			</method>
		</resource>

		<resource path="activity/{domainName}/{siteName}">
			<method id="activity.list" name="GET" apigee:displayName="Get Site Activities">
				<apigee:tags>
					<apigee:tag primary="true">Google Sites</apigee:tag>
				</apigee:tags>
				
				<apigee:authentication required="true" />
				
				<apigee:example url="activity/{domainName}/{siteName}" />

				<doc apigee:url="http://code.google.com/intl/en/apis/sites/docs/1.0/reference.html#feed_Activity">
					<![CDATA[Gets all activites within a site.]]>
				</doc>
				
				<request>
					<param name="domainName" type="xsd:string" style="template" required="true" />
					<param name="siteName" type="xsd:string" style="template" required="true" />
				</request>
			</method>
		</resource>

	</resources>
</application>