soundcloud/api.sandbox-soundcloud.com.xml

<?xml version="1.0" encoding="UTF-8"?>
<application xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:apigee="http://api.apigee.com/wadl/2010/07/" xmlns="http://wadl.dev.java.net/2009/02"
             xsi:schemaLocation="http://wadl.dev.java.net/2009/02 ../../resources/wadl-schema.xsd    http://api.apigee.com/wadl/2010/07/ ../../resources/apigee-wadl-extensions.xsd">


    <resources base="http://api.sandbox-soundcloud.com">


        <!-- BEGIN tracks -->
        <resource path="tracks.{format}">
            <param name="q" required="false" type="xsd:string" style="query" default="summer"/>
            <!--Tags are a comma separated list-->
            <param name="tags" required="false" type="xsd:string" style="query" default="pop"/>
            <!--Filter is an enumeration and can be one of these values (all,public,private,streamable,downloadable)-->
            <param name="filter" required="false" type="xsd:string" style="query" default="all">
                <option value="all"/>
                <option value="public"/>
                <option value="private"/>
                <option value="streamable"/>
                <option value="downloadable"/>
            </param>
            <!--Order is an enumeration and can be one of these values (created_at, hotness)-->
            <param name="order" required="false" type="xsd:string" style="query" default="create_at">
                <option value="created_at"/>
                <option value="hotness"/>
            </param>
            <!--BPM in an integer between 0 and 999-->
            <param name="bpm-from" required="false" type="xsd:string" style="query" default=""/>
            <param name="bpm-to" required="false" type="xsd:string" style="query" default=""/>
            <!--Duration is an integer representing milliseconds-->
            <param name="duration-from" required="false" type="xsd:string" style="query" default=""/>
            <param name="duration-to" required="false" type="xsd:string" style="query" default=""/>
            <!--Created_at is a date in the format yyyy-mm-dd hh:mm:ss-->
            <param name="created_at-from" required="false" type="xsd:string" style="query" default=""/>
            <param name="created_at-to" required="false" type="xsd:string" style="query" default=""/>
            <!--Ids is a comma separated list of Ids-->
            <param name="ids" required="false" type="xsd:string" style="query" default=""/>
            <!--Genres is a comma separated list of Genres-->
            <param name="ids" required="false" type="xsd:string" style="query" default=""/>
            <param name="order" required="false" type="xsd:string" style="query" default="">
                <option value="original"/>
                <option value="remix"/>
                <option value="live"/>
                <option value="recording"/>
                <option value="spoken"/>
                <option value="podcast"/>
                <option value="demo"/>
                <option value="in progress"/>
                <option value="stem"/>
                <option value="loop"/>
                <option value="sound effect"/>
                <option value="sample"/>
                <option value="other"/>
            </param>
            <param name="title" required="true" type="xsd:string" style="header" default="A Track Title"/>
            <param name="asset_data" required="true" type="xsd:string" style="header" default=""/>

            <method id="get_tracks" name="GET">
                <apigee:tags xmlns:apigee="http://api.apigee.com/wadl/2010/07/">
                    <apigee:tag primary="true">Tracks</apigee:tag>
                </apigee:tags>
                <apigee:authentication xmlns:apigee="http://api.apigee.com/wadl/2010/07/" required="false"/>
                <apigee:example xmlns:apigee="http://api.apigee.com/wadl/2010/07/"
                                url="/tracks.{format}?consumer_key={consumer_key}"/>
            </method>

            <!-- IMPORTANT, NEED TO BE ABLE TO CHOOSE A FILE! or maybe even supply a url, though that could be confusing. &-->
            <!-- TODO: add other optional params -->
            <method id="post_tracks" name="POST">
                <apigee:tags xmlns:apigee="http://api.apigee.com/wadl/2010/07/">
                    <apigee:tag primary="true">Tracks</apigee:tag>
                    <apigee:tag>Track</apigee:tag>
                </apigee:tags>
                <apigee:authentication xmlns:apigee="http://api.apigee.com/wadl/2010/07/" required="false"/>
                <apigee:example xmlns:apigee="http://api.apigee.com/wadl/2010/07/" url="/tracks.{format}"/>
            </method>
        </resource>

        <resource path="tracks/{track_id}.{format}">
            <method id="get_track" name="GET">
                <apigee:tags xmlns:apigee="http://api.apigee.com/wadl/2010/07/">
                    <apigee:tag primary="true">Tracks</apigee:tag>
                    <apigee:tag>Track</apigee:tag>
                </apigee:tags>
                <apigee:authentication xmlns:apigee="http://api.apigee.com/wadl/2010/07/" required="false"/>
                <apigee:example xmlns:apigee="http://api.apigee.com/wadl/2010/07/"
                                url="/tracks/{track_id}.{format}?consumer_key={consumer_key}"/>
            </method>

            <!-- TODO: This is the same as POST /tracks, so update that first and then copy -->
            <!-- Difference is method, tags, doc -->
            <method id="put_track" name="PUT">
                <apigee:tags xmlns:apigee="http://api.apigee.com/wadl/2010/07/">
                    <apigee:tag primary="true">Tracks</apigee:tag>
                    <apigee:tag>Track</apigee:tag>
                </apigee:tags>
                <apigee:authentication xmlns:apigee="http://api.apigee.com/wadl/2010/07/" required="true"/>
                <apigee:example xmlns:apigee="http://api.apigee.com/wadl/2010/07/" url="/tracks.{format}"/>
            </method>

            <method id="delete_track" name="DELETE">
                <apigee:tags xmlns:apigee="http://api.apigee.com/wadl/2010/07/">
                    <apigee:tag primary="true">Tracks</apigee:tag>
                    <apigee:tag>Track</apigee:tag>
                </apigee:tags>
                <apigee:authentication xmlns:apigee="http://api.apigee.com/wadl/2010/07/" required="true"/>
                <apigee:example xmlns:apigee="http://api.apigee.com/wadl/2010/07/" url="/tracks/{track_id}.{format}"/>
            </method>
        </resource>

        <resource path="tracks/{track_id}/comments.{format}">
            <param name="track_id" required="true" type="xsd:string" style="query" default="291"/>
            <method id="get_track_comments" name="GET">
                <apigee:tags xmlns:apigee="http://api.apigee.com/wadl/2010/07/">
                    <apigee:tag primary="true">Tracks</apigee:tag>
                    <apigee:tag>Track</apigee:tag>
                    <apigee:tag>Comments</apigee:tag>
                </apigee:tags>
                <apigee:authentication xmlns:apigee="http://api.apigee.com/wadl/2010/07/" required="false"/>
                <apigee:example xmlns:apigee="http://api.apigee.com/wadl/2010/07/"
                                url="/tracks/{track_id}/comments.{format}?consumer_key={consumer_key}"/>
            </method>

            <method id="post_track_comments" name="POST">
                <apigee:tags xmlns:apigee="http://api.apigee.com/wadl/2010/07/">
                    <apigee:tag primary="true">Tracks</apigee:tag>
                    <apigee:tag>Track</apigee:tag>
                    <apigee:tag>Comments</apigee:tag>
                </apigee:tags>
                <apigee:authentication xmlns:apigee="http://api.apigee.com/wadl/2010/07/" required="true"/>
                <apigee:example xmlns:apigee="http://api.apigee.com/wadl/2010/07/"
                                url="/tracks/{track_id}/comments.{format}"/>
            </method>
        </resource>

        <resource path="tracks/{track_id}/permissions.{format}">
            <param name="track_id" required="true" type="xsd:string" style="query" default="291"/>
            <method id="get_track_permissions" name="GET">
                <apigee:tags xmlns:apigee="http://api.apigee.com/wadl/2010/07/">
                    <apigee:tag primary="true">Tracks</apigee:tag>
                    <apigee:tag>Track</apigee:tag>
                    <apigee:tag>Permissions</apigee:tag>
                </apigee:tags>
                <apigee:authentication xmlns:apigee="http://api.apigee.com/wadl/2010/07/" required="false"/>
                <apigee:example xmlns:apigee="http://api.apigee.com/wadl/2010/07/"
                                url="/tracks/{track_id}/permissions.{format}?consumer_key={consumer_key}"/>
            </method>

            <method id="put_track_permissions" name="PUT">
                <apigee:tags xmlns:apigee="http://api.apigee.com/wadl/2010/07/">
                    <apigee:tag primary="true">Tracks</apigee:tag>
                    <apigee:tag>Track</apigee:tag>
                    <apigee:tag>Permissions</apigee:tag>
                </apigee:tags>
                <apigee:authentication xmlns:apigee="http://api.apigee.com/wadl/2010/07/" required="true"/>
                <apigee:example xmlns:apigee="http://api.apigee.com/wadl/2010/07/"
                                url="/tracks/{track_id}/permissions.{format}"/>
            </method>
        </resource>

        <resource path="tracks/{track_id}/secret-token.{format}">
            <param name="track_id" required="true" type="xsd:string" style="query" default="291"/>
            <method id="get_track_secret-token" name="GET">
                <apigee:tags xmlns:apigee="http://api.apigee.com/wadl/2010/07/">
                    <apigee:tag primary="true">Tracks</apigee:tag>
                    <apigee:tag>Track</apigee:tag>
                    <apigee:tag>Secret Token</apigee:tag>
                </apigee:tags>
                <apigee:authentication xmlns:apigee="http://api.apigee.com/wadl/2010/07/" required="true"/>
                <apigee:example xmlns:apigee="http://api.apigee.com/wadl/2010/07/"
                                url="/tracks/{track_id}/secret-token.{format}"/>
            </method>

            <method id="put_track_secret_token" name="PUT">
                <apigee:tags xmlns:apigee="http://api.apigee.com/wadl/2010/07/">
                    <apigee:tag primary="true">Tracks</apigee:tag>
                    <apigee:tag>Track</apigee:tag>
                    <apigee:tag>Secret Token</apigee:tag>
                </apigee:tags>
                <apigee:authentication xmlns:apigee="http://api.apigee.com/wadl/2010/07/" required="true"/>
                <apigee:example xmlns:apigee="http://api.apigee.com/wadl/2010/07/"
                                url="/tracks/{track_id}/secret-token.{format}"/>
            </method>
        </resource>
        <!-- END tracks -->

        <!-- BEGIN users -->
        <resource path="users.{format}">
            <param name="q" required="false" type="xsd:string" style="query" default=""/>
            <method id="get_users" name="GET">
                <apigee:tags xmlns:apigee="http://api.apigee.com/wadl/2010/07/">
                    <apigee:tag primary="true">Users</apigee:tag>
                </apigee:tags>
                <apigee:authentication xmlns:apigee="http://api.apigee.com/wadl/2010/07/" required="false"/>
                <apigee:example xmlns:apigee="http://api.apigee.com/wadl/2010/07/"
                                url="/users.{format}?consumer_key={consumer_key}"/>
            </method>
        </resource>

        <resource path="users/{user_id}.{format}">
            <method id="get_user" name="GET">
                <apigee:tags xmlns:apigee="http://api.apigee.com/wadl/2010/07/">
                    <apigee:tag primary="true">Users</apigee:tag>
                    <apigee:tag>User</apigee:tag>
                </apigee:tags>
                <apigee:authentication xmlns:apigee="http://api.apigee.com/wadl/2010/07/" required="false"/>
                <apigee:example xmlns:apigee="http://api.apigee.com/wadl/2010/07/"
                                url="/users/{user_id}.{format}?consumer_key={consumer_key}"/>
            </method>
        </resource>

        <resource path="me.{format}">
            <!-- Same as GET users/{user_id} -->
            <method id="get_me" name="GET">
                <apigee:tags xmlns:apigee="http://api.apigee.com/wadl/2010/07/">
                    <apigee:tag primary="true">Users</apigee:tag>
                    <apigee:tag>Me</apigee:tag>
                </apigee:tags>
                <apigee:authentication xmlns:apigee="http://api.apigee.com/wadl/2010/07/" required="true"/>
                <apigee:example xmlns:apigee="http://api.apigee.com/wadl/2010/07/" url="/me.{format}"/>
            </method>

            <method id="put_me" name="PUT">
                <apigee:tags xmlns:apigee="http://api.apigee.com/wadl/2010/07/">
                    <apigee:tag primary="true">Users</apigee:tag>
                    <apigee:tag>Me</apigee:tag>
                </apigee:tags>
                <apigee:authentication xmlns:apigee="http://api.apigee.com/wadl/2010/07/" required="true"/>
                <apigee:example xmlns:apigee="http://api.apigee.com/wadl/2010/07/" url="/me.{format}"/>
            </method>
        </resource>

        <resource path="users/{user_id}/tracks.{format}">
            <method id="get_user_tracks" name="GET">
                <apigee:tags xmlns:apigee="http://api.apigee.com/wadl/2010/07/">
                    <apigee:tag primary="true">Users</apigee:tag>
                    <apigee:tag>User</apigee:tag>
                    <apigee:tag>Tracks</apigee:tag>
                </apigee:tags>
                <apigee:authentication xmlns:apigee="http://api.apigee.com/wadl/2010/07/" required="false"/>
                <apigee:example xmlns:apigee="http://api.apigee.com/wadl/2010/07/"
                                url="/users/{user_id}/tracks.{format}?consumer_key={consumer_key}"/>
            </method>
        </resource>

        <resource path="me/tracks.{format}">
            <method id="get_me_tracks" name="GET">
                <apigee:tags xmlns:apigee="http://api.apigee.com/wadl/2010/07/">
                    <apigee:tag primary="true">Users</apigee:tag>
                    <apigee:tag>Me</apigee:tag>
                    <apigee:tag>Tracks</apigee:tag>
                </apigee:tags>
                <apigee:authentication xmlns:apigee="http://api.apigee.com/wadl/2010/07/" required="true"/>
                <apigee:example xmlns:apigee="http://api.apigee.com/wadl/2010/07/" url="/me/tracks.{format}"/>
            </method>
        </resource>

        <resource path="users/{user_id}/comments.{format}">
            <method id="get_user_comments" name="GET">
                <apigee:tags xmlns:apigee="http://api.apigee.com/wadl/2010/07/">
                    <apigee:tag primary="true">Users</apigee:tag>
                    <apigee:tag>User</apigee:tag>
                    <apigee:tag>Comments</apigee:tag>
                </apigee:tags>
                <apigee:authentication xmlns:apigee="http://api.apigee.com/wadl/2010/07/" required="false"/>
                <apigee:example xmlns:apigee="http://api.apigee.com/wadl/2010/07/"
                                url="/users/{user_id}/comments.{format}?consumer_key={consumer_key}"/>
            </method>
        </resource>

        <resource path="me/comments.{format}">
            <method id="get_me_comments" name="GET">
                <apigee:tags xmlns:apigee="http://api.apigee.com/wadl/2010/07/">
                    <apigee:tag primary="true">Users</apigee:tag>
                    <apigee:tag>Me</apigee:tag>
                    <apigee:tag>Comments</apigee:tag>
                </apigee:tags>
                <apigee:authentication xmlns:apigee="http://api.apigee.com/wadl/2010/07/" required="true"/>
                <apigee:example xmlns:apigee="http://api.apigee.com/wadl/2010/07/" url="/me/comments.{format}"/>
            </method>
        </resource>

        <resource path="users/{user_id}/followings.{format}">
            <method id="get_user_followings" name="GET">
                <apigee:tags xmlns:apigee="http://api.apigee.com/wadl/2010/07/">
                    <apigee:tag primary="true">Users</apigee:tag>
                    <apigee:tag>User</apigee:tag>
                    <apigee:tag>Followings</apigee:tag>
                </apigee:tags>
                <apigee:authentication xmlns:apigee="http://api.apigee.com/wadl/2010/07/" required="false"/>
                <apigee:example xmlns:apigee="http://api.apigee.com/wadl/2010/07/"
                                url="/users/{user_id}/followings.{format}?consumer_key={consumer_key}"/>
            </method>
        </resource>

        <resource path="users/{user_id}/followings/{contact_id}.{format}">
            <param name="user_id" required="true" type="xsd:string" style="query" default="183"/>
            <param name="contact_id" required="true" type="xsd:string" style="query" default="183"/>
            <method id="put_user_followings" name="PUT">
                <apigee:tags xmlns:apigee="http://api.apigee.com/wadl/2010/07/">
                    <apigee:tag primary="true">Users</apigee:tag>
                    <apigee:tag>User</apigee:tag>
                    <apigee:tag>Followings</apigee:tag>
                </apigee:tags>
                <apigee:authentication xmlns:apigee="http://api.apigee.com/wadl/2010/07/" required="true"/>
                <apigee:example xmlns:apigee="http://api.apigee.com/wadl/2010/07/"
                                url="/users/{user_id}/followings/{contact_id}.{format}"/>
            </method>

            <method id="delete_user_followings" name="DELETE">
                <apigee:tags xmlns:apigee="http://api.apigee.com/wadl/2010/07/">
                    <apigee:tag primary="true">Users</apigee:tag>
                    <apigee:tag>User</apigee:tag>
                    <apigee:tag>Followings</apigee:tag>
                </apigee:tags>
                <apigee:authentication xmlns:apigee="http://api.apigee.com/wadl/2010/07/" required="true"/>
                <apigee:example xmlns:apigee="http://api.apigee.com/wadl/2010/07/"
                                url="/users/{user_id}/followings/{contact_id}.{format}"/>
            </method>
        </resource>

        <resource path="me/followings.{format}">
            <method id="get_me_followings" name="GET">
                <apigee:tags xmlns:apigee="http://api.apigee.com/wadl/2010/07/">
                    <apigee:tag primary="true">Users</apigee:tag>
                    <apigee:tag>Me</apigee:tag>
                    <apigee:tag>Followings</apigee:tag>
                </apigee:tags>
                <apigee:authentication xmlns:apigee="http://api.apigee.com/wadl/2010/07/" required="true"/>
                <apigee:example xmlns:apigee="http://api.apigee.com/wadl/2010/07/" url="/me/followings.{format}"/>
            </method>
        </resource>

        <resource path="me/followings/{contact_id}.{format}">
            <param name="contact_id" required="true" type="xsd:string" style="query" default="183"/>
            <method id="put_me_followings" name="PUT">
                <apigee:tags xmlns:apigee="http://api.apigee.com/wadl/2010/07/">
                    <apigee:tag primary="true">Users</apigee:tag>
                    <apigee:tag>Me</apigee:tag>
                    <apigee:tag>Followings</apigee:tag>
                </apigee:tags>
                <apigee:authentication xmlns:apigee="http://api.apigee.com/wadl/2010/07/" required="true"/>
                <apigee:example xmlns:apigee="http://api.apigee.com/wadl/2010/07/"
                                url="/me/followings/{contact_id}.{format}"/>
            </method>

            <method id="delete_me_followings" name="DELETE">
                <apigee:tags xmlns:apigee="http://api.apigee.com/wadl/2010/07/">
                    <apigee:tag primary="true">Users</apigee:tag>
                    <apigee:tag>Me</apigee:tag>
                    <apigee:tag>Followings</apigee:tag>
                </apigee:tags>
                <apigee:authentication xmlns:apigee="http://api.apigee.com/wadl/2010/07/" required="true"/>
                <apigee:example xmlns:apigee="http://api.apigee.com/wadl/2010/07/"
                                url="/me/followings/{contact_id}.{format}"/>
            </method>
        </resource>

        <resource path="users/{user_id}/followers.{format}">
            <method id="get_user_followers" name="GET">
                <apigee:tags xmlns:apigee="http://api.apigee.com/wadl/2010/07/">
                    <apigee:tag primary="true">Users</apigee:tag>
                    <apigee:tag>User</apigee:tag>
                    <apigee:tag>Followers</apigee:tag>
                </apigee:tags>
                <apigee:authentication xmlns:apigee="http://api.apigee.com/wadl/2010/07/" required="false"/>
                <apigee:example xmlns:apigee="http://api.apigee.com/wadl/2010/07/"
                                url="/users/{user_id}/followers.{format}?consumer_key={consumer_key}"/>
            </method>
        </resource>

        <resource path="me/followers.{format}">
            <method id="get_me_followers" name="GET">
                <apigee:tags xmlns:apigee="http://api.apigee.com/wadl/2010/07/">
                    <apigee:tag primary="true">Users</apigee:tag>
                    <apigee:tag>Me</apigee:tag>
                    <apigee:tag>Followers</apigee:tag>
                </apigee:tags>
                <apigee:authentication xmlns:apigee="http://api.apigee.com/wadl/2010/07/" required="true"/>
                <apigee:example xmlns:apigee="http://api.apigee.com/wadl/2010/07/" url="/me/followers.{format}"/>
            </method>
        </resource>

        <resource path="users/{user_id}/favorites.{format}">
            <method id="get_user_favorites" name="GET">
                <apigee:tags xmlns:apigee="http://api.apigee.com/wadl/2010/07/">
                    <apigee:tag primary="true">Users</apigee:tag>
                    <apigee:tag>User</apigee:tag>
                    <apigee:tag>Favorites</apigee:tag>
                </apigee:tags>
                <apigee:authentication xmlns:apigee="http://api.apigee.com/wadl/2010/07/" required="false"/>
                <apigee:example xmlns:apigee="http://api.apigee.com/wadl/2010/07/"
                                url="/users/{user_id}/favorites.{format}?consumer_key={consumer_key}"/>
            </method>
        </resource>

        <resource path="users/{user_id}/favorites/{track_id}.{format}">
            <param name="user_id" required="true" type="xsd:string" style="query" default="183"/>
            <param name="track_id" required="true" type="xsd:string" style="query" default="291"/>
            <method id="put_user_favorites" name="PUT">
                <apigee:tags xmlns:apigee="http://api.apigee.com/wadl/2010/07/">
                    <apigee:tag primary="true">Users</apigee:tag>
                    <apigee:tag>User</apigee:tag>
                    <apigee:tag>Favorites</apigee:tag>
                </apigee:tags>
                <apigee:authentication xmlns:apigee="http://api.apigee.com/wadl/2010/07/" required="true"/>
                <apigee:example xmlns:apigee="http://api.apigee.com/wadl/2010/07/"
                                url="/users/{user_id}/favorites/{track_id}.{format}"/>
            </method>

            <method id="delete_user_favorites" name="DELETE">
                <apigee:tags xmlns:apigee="http://api.apigee.com/wadl/2010/07/">
                    <apigee:tag primary="true">Users</apigee:tag>
                    <apigee:tag>User</apigee:tag>
                    <apigee:tag>Favorites</apigee:tag>
                </apigee:tags>
                <apigee:authentication xmlns:apigee="http://api.apigee.com/wadl/2010/07/" required="true"/>
                <apigee:example xmlns:apigee="http://api.apigee.com/wadl/2010/07/"
                                url="/users/{user_id}/favorites/{track_id}.{format}"/>
            </method>
        </resource>

        <resource path="me/favorites.{format}">
            <method id="get_me_favorites" name="GET">
                <apigee:tags xmlns:apigee="http://api.apigee.com/wadl/2010/07/">
                    <apigee:tag primary="true">Users</apigee:tag>
                    <apigee:tag>Me</apigee:tag>
                    <apigee:tag>Favorites</apigee:tag>
                </apigee:tags>
                <apigee:authentication xmlns:apigee="http://api.apigee.com/wadl/2010/07/" required="true"/>
                <apigee:example xmlns:apigee="http://api.apigee.com/wadl/2010/07/" url="/me/favorites.{format}"/>
            </method>
        </resource>

        <resource path="me/favorites/{track_id}.{format}">
            <param name="track_id" required="true" type="xsd:string" style="query" default="291"/>
            <method id="put_me_favorites" name="PUT">
                <apigee:tags xmlns:apigee="http://api.apigee.com/wadl/2010/07/">
                    <apigee:tag primary="true">Users</apigee:tag>
                    <apigee:tag>Me</apigee:tag>
                    <apigee:tag>Favorites</apigee:tag>
                </apigee:tags>
                <apigee:authentication xmlns:apigee="http://api.apigee.com/wadl/2010/07/" required="true"/>
                <apigee:example xmlns:apigee="http://api.apigee.com/wadl/2010/07/"
                                url="/me/favorites/{track_id}.{format}"/>
            </method>

            <method id="delete_me_favorites" name="DELETE">
                <apigee:tags xmlns:apigee="http://api.apigee.com/wadl/2010/07/">
                    <apigee:tag primary="true">Users</apigee:tag>
                    <apigee:tag>Me</apigee:tag>
                    <apigee:tag>Favorites</apigee:tag>
                </apigee:tags>
                <apigee:authentication xmlns:apigee="http://api.apigee.com/wadl/2010/07/" required="true"/>
                <apigee:example xmlns:apigee="http://api.apigee.com/wadl/2010/07/"
                                url="/me/favorites/{track_id}.{format}"/>
            </method>
        </resource>

        <resource path="users/{user_id}/groups.{format}">
            <method id="get_user_groups" name="GET">
                <apigee:tags xmlns:apigee="http://api.apigee.com/wadl/2010/07/">
                    <apigee:tag primary="true">Users</apigee:tag>
                    <apigee:tag>User</apigee:tag>
                    <apigee:tag>Groups</apigee:tag>
                </apigee:tags>
                <apigee:authentication xmlns:apigee="http://api.apigee.com/wadl/2010/07/" required="false"/>
                <apigee:example xmlns:apigee="http://api.apigee.com/wadl/2010/07/"
                                url="/users/{user_id}/groups.{format}?consumer_key={consumer_key}"/>
            </method>
        </resource>

        <resource path="me/groups.{format}">
            <method id="get_me_groups" name="GET">
                <apigee:tags xmlns:apigee="http://api.apigee.com/wadl/2010/07/">
                    <apigee:tag primary="true">Users</apigee:tag>
                    <apigee:tag>Me</apigee:tag>
                    <apigee:tag>Groups</apigee:tag>
                </apigee:tags>
                <apigee:authentication xmlns:apigee="http://api.apigee.com/wadl/2010/07/" required="true"/>
                <apigee:example xmlns:apigee="http://api.apigee.com/wadl/2010/07/" url="/me/groups.{format}"/>
            </method>
        </resource>

        <resource path="users/{user_id}/playlists.{format}">
            <method id="get_user_playlists" name="GET">
                <apigee:tags xmlns:apigee="http://api.apigee.com/wadl/2010/07/">
                    <apigee:tag primary="true">Users</apigee:tag>
                    <apigee:tag>User</apigee:tag>
                    <apigee:tag>Playlists</apigee:tag>
                </apigee:tags>
                <apigee:authentication xmlns:apigee="http://api.apigee.com/wadl/2010/07/" required="false"/>
                <apigee:example xmlns:apigee="http://api.apigee.com/wadl/2010/07/"
                                url="/users/{user_id}/playlists.{format}?consumer_key={consumer_key}"/>
            </method>
        </resource>

        <resource path="me/playlists.{format}">
            <method id="get_me_playlists" name="GET">
                <apigee:tags xmlns:apigee="http://api.apigee.com/wadl/2010/07/">
                    <apigee:tag primary="true">Users</apigee:tag>
                    <apigee:tag>Me</apigee:tag>
                    <apigee:tag>Playlists</apigee:tag>
                </apigee:tags>
                <apigee:authentication xmlns:apigee="http://api.apigee.com/wadl/2010/07/" required="true"/>
                <apigee:example xmlns:apigee="http://api.apigee.com/wadl/2010/07/" url="/me/playlists.{format}"/>
            </method>
        </resource>
        <!-- END users -->

        <!-- BEGIN playlists -->
        <resource path="playlists.{format}">
            <param name="q" required="false" type="xsd:string" style="query" default=""/>
            <param name="filter" required="false" type="xsd:string" style="query" default="all">
                <option value="all"/>
                <option value="public"/>
                <option value="private"/>
            </param>
            <method id="get_playlists" name="GET">
                <apigee:tags xmlns:apigee="http://api.apigee.com/wadl/2010/07/">
                    <apigee:tag primary="true">Playlists</apigee:tag>
                </apigee:tags>
                <apigee:authentication xmlns:apigee="http://api.apigee.com/wadl/2010/07/" required="false"/>
                <apigee:example xmlns:apigee="http://api.apigee.com/wadl/2010/07/"
                                url="/playlists.{format}?consumer_key={consumer_key}"/>
            </method>
        </resource>

        <resource path="playlists/{playlist_id}.{format}">
            <method id="get_playlist" name="GET">
                <apigee:tags xmlns:apigee="http://api.apigee.com/wadl/2010/07/">
                    <apigee:tag primary="true">Playlists</apigee:tag>
                    <apigee:tag>Playlist</apigee:tag>
                </apigee:tags>
                <apigee:authentication xmlns:apigee="http://api.apigee.com/wadl/2010/07/" required="false"/>
                <apigee:example xmlns:apigee="http://api.apigee.com/wadl/2010/07/"
                                url="/playlists/{playlist_id}.{format}?consumer_key={consumer_key}"/>
            </method>
        </resource>
        <!-- END playlists -->

        <!-- BEGIN groups -->
        <resource path="groups.{format}">
            <method id="get_groups" name="GET">
                <apigee:tags xmlns:apigee="http://api.apigee.com/wadl/2010/07/">
                    <apigee:tag primary="true">Groups</apigee:tag>
                </apigee:tags>
                <apigee:authentication xmlns:apigee="http://api.apigee.com/wadl/2010/07/" required="false"/>
                <apigee:example xmlns:apigee="http://api.apigee.com/wadl/2010/07/"
                                url="/groups.{format}?consumer_key={consumer_key}"/>
            </method>
        </resource>

        <resource path="groups/{group_id}.{format}">
            <method id="get_group" name="GET">
                <apigee:tags xmlns:apigee="http://api.apigee.com/wadl/2010/07/">
                    <apigee:tag primary="true">Groups</apigee:tag>
                    <apigee:tag>Group</apigee:tag>
                </apigee:tags>
                <apigee:authentication xmlns:apigee="http://api.apigee.com/wadl/2010/07/" required="false"/>
                <apigee:example xmlns:apigee="http://api.apigee.com/wadl/2010/07/"
                                url="/groups/{group_id}.{format}?consumer_key={consumer_key}"/>
            </method>
        </resource>

        <resource path="groups/{group_id}/users.{format}">
            <method id="get_group_users" name="GET">
                <apigee:tags xmlns:apigee="http://api.apigee.com/wadl/2010/07/">
                    <apigee:tag primary="true">Groups</apigee:tag>
                    <apigee:tag>Group</apigee:tag>
                    <apigee:tag>Users</apigee:tag>
                </apigee:tags>
                <apigee:authentication xmlns:apigee="http://api.apigee.com/wadl/2010/07/" required="false"/>
                <apigee:example xmlns:apigee="http://api.apigee.com/wadl/2010/07/"
                                url="/groups/{group_id}/users.{format}?consumer_key={consumer_key}"/>
            </method>
        </resource>

        <resource path="groups/{group_id}/moderators.{format}">
            <method id="get_group_moderators" name="GET">
                <apigee:tags xmlns:apigee="http://api.apigee.com/wadl/2010/07/">
                    <apigee:tag primary="true">Groups</apigee:tag>
                    <apigee:tag>Group</apigee:tag>
                    <apigee:tag>Moderators</apigee:tag>
                </apigee:tags>
                <apigee:authentication xmlns:apigee="http://api.apigee.com/wadl/2010/07/" required="false"/>
                <apigee:example xmlns:apigee="http://api.apigee.com/wadl/2010/07/"
                                url="/groups/{group_id}/moderators.{format}?consumer_key={consumer_key}"/>
            </method>
        </resource>

        <resource path="groups/{group_id}/members.{format}">
            <method id="get_group_members" name="GET">
                <apigee:tags xmlns:apigee="http://api.apigee.com/wadl/2010/07/">
                    <apigee:tag primary="true">Groups</apigee:tag>
                    <apigee:tag>Group</apigee:tag>
                    <apigee:tag>Members</apigee:tag>
                </apigee:tags>
                <apigee:authentication xmlns:apigee="http://api.apigee.com/wadl/2010/07/" required="false"/>
                <apigee:example xmlns:apigee="http://api.apigee.com/wadl/2010/07/"
                                url="/groups/{group_id}/members.{format}?consumer_key={consumer_key}"/>
            </method>
        </resource>

        <resource path="groups/{group_id}/contributors.{format}">
            <method id="get_group_contributors" name="GET">
                <apigee:tags xmlns:apigee="http://api.apigee.com/wadl/2010/07/">
                    <apigee:tag primary="true">Groups</apigee:tag>
                    <apigee:tag>Group</apigee:tag>
                    <apigee:tag>Contributors</apigee:tag>
                </apigee:tags>
                <apigee:authentication xmlns:apigee="http://api.apigee.com/wadl/2010/07/" required="false"/>
                <apigee:example xmlns:apigee="http://api.apigee.com/wadl/2010/07/"
                                url="/groups/{group_id}/contributors.{format}?consumer_key={consumer_key}"/>
            </method>
        </resource>

        <resource path="groups/{group_id}/tracks.{format}">
            <method id="get_group_tracks" name="GET">
                <apigee:tags xmlns:apigee="http://api.apigee.com/wadl/2010/07/">
                    <apigee:tag primary="true">Groups</apigee:tag>
                    <apigee:tag>Group</apigee:tag>
                    <apigee:tag>Tracks</apigee:tag>
                </apigee:tags>
                <apigee:authentication xmlns:apigee="http://api.apigee.com/wadl/2010/07/" required="false"/>
                <apigee:example xmlns:apigee="http://api.apigee.com/wadl/2010/07/"
                                url="/groups/{group_id}/tracks.{format}?consumer_key={consumer_key}"/>
            </method>
        </resource>
        <!-- END groups -->

        <!-- BEGIN comments -->
        <resource path="comments/{comment_id}.{format}">
            <method id="get_comment" name="GET">
                <apigee:tags xmlns:apigee="http://api.apigee.com/wadl/2010/07/">
                    <apigee:tag primary="true">Comments</apigee:tag>
                    <apigee:tag>Comment</apigee:tag>
                </apigee:tags>
                <apigee:authentication xmlns:apigee="http://api.apigee.com/wadl/2010/07/" required="false"/>
                <apigee:example xmlns:apigee="http://api.apigee.com/wadl/2010/07/"
                                url="/comments/{comment_id}.{format}?consumer_key={consumer_key}"/>
            </method>
        </resource>
        <!-- END comments -->

        <!-- BEGIN resolver -->
        <resource path="resolve.{format}">
            <param name="url" required="true" type="xsd:string" style="query" default="http://soundcloud.com/forss"/>
            <method id="resolve" name="GET">
                <apigee:tags xmlns:apigee="http://api.apigee.com/wadl/2010/07/">
                    <apigee:tag primary="true">Resolver</apigee:tag>
                </apigee:tags>
                <apigee:authentication xmlns:apigee="http://api.apigee.com/wadl/2010/07/" required="false"/>
                <apigee:example xmlns:apigee="http://api.apigee.com/wadl/2010/07/"
                                url="/resolve.{format}?consumer_key={consumer_key}&amp;url={url}"/>
            </method>
        </resource>
        <!-- END resolver -->

    </resources>

    <param name="consumer_key" required="true" type="xsd:string" style="query"
           default="enter_your_consumer_key_please"/>
    <param name="format" type="xsd:string" style="template" required="true" default="json">
        <option value="xml" mediaType="application/xml"/>
        <option value="json" mediaType="application/json"/>
    </param>
</application>