simplegeo/api.simplegeo.com.xml

<application xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xsi:schemaLocation="http://research.sun.com/wadl/2006/10                      https://wadl.dev.java.net/wadl20061109.xsd" xmlns="http://research.sun.com/wadl/2006/10" xmlns:t="urn:simplegeo:simplegeoresponse"> 
    <resources base="http://api.simplegeo.com/1.0"> 
		<resource path="features/{handle}.json">
			<param name="handle" required="true" type="xsd:string" style="query" default="SG_6fK3DOaRivKAmLA15lsuyv"/>
			<method name="GET" id="features">
				<authentication required="true"/>
                <doc url="http://simplegeo.com/docs/api-endpoints/simplegeo-features">Returns a feature object. It could be a place (point) or area (polygon).</doc>
			</method>
		</resource>
		<resource path="context/{lat},{lon}.json">
			<param name="lat" required="true" type="xsd:string" style="query" default="37.77275"/>
			<param name="lon" required="true" type="xsd:string" style="query" default="-122.40572"/>
			<method name="GET" id="context">
				<authentication required="true"/>
                <doc url="http://simplegeo.com/docs/api-endpoints/simplegeo-context"/>Does a SimpleGeo Context query, returning polygons and other data related to a coordinate.</doc>
			</method>
		</resource>
        <resource path="places/{lat},{lon}.json">
			<param name="lat" required="true" type="xsd:string" style="query" default="37.77275"/>
			<param name="lon" required="true" type="xsd:string" style="query" default="-122.40572"/>
			<method name="GET" id="places">
				<authentication required="true"/>
                <doc url="http://simplegeo.com/docs/api-endpoints/simplegeo-places">Does a SimpleGeo Places query, returning 25 features near a given point.</doc>
			</method>
		</resource>
	</resources>
</application>
