simplegeo/api.simplegeo.com.xml

<application xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xsi:schemaLocation="http://research.sun.com/wadl/2006/10                      https://wadl.dev.java.net/wadl20061109.xsd" xmlns="http://research.sun.com/wadl/2006/10" xmlns:t="urn:simplegeo:simplegeoresponse"> 
	<grammars>
		<response-codes>
			<code name="200" value="OK: Success!" />
			<code name="304" value="Not Modified: There was no new data to return." />
			<code name="400" value="Bad Request: The request was invalid. An accompanying error message will explain why. This is the status code will be returned during rate limiting." />
			<code name="401" value="Unauthorized: Authentication credentials were missing or incorrect." />
			<code name="403" value="Forbidden: The request is understood, but it has been refused. An accompanying error message will explain why. This code is used when requests are being denied due to update limits." />
			<code name="404" value="Not Found: The URI requested is invalid or the resource requested, such as a user, does not exists." />
			<code name="500" value="Internal Server Error: Something is broken." />
		</response-codes>
	</grammars>

	<representation id="responseCodes" element="responseCodes"/>
	
	<resources base="{transport}://api.simplegeo.com/0.1"> 
		<resource path="records/{layer}/{id}.json">
			<param name="layer" required="true" type="xsd:string" style="query" default="com.simplegeo.test"/>
			<param name="id" required="true" type="xsd:string" style="query" default="1234"/>
			<method name="GET" id="get_records">
				<authentication required="true"/>
				<docs url="https://simplegeo.tenderapp.com/faqs/api-documentation/endpoints"/>
				<notes>Fetch a record</notes>
			</method>
			<method name="PUT" id="add_records">
				<authentication required="true"/>
				<docs url="https://simplegeo.tenderapp.com/faqs/api-documentation/endpoints"/>
				<notes>Post a record</notes>
			</method>
			<method name="DELETE" id="delete_records">
				<authentication required="true"/>
				<docs url="https://simplegeo.tenderapp.com/faqs/api-documentation/endpoints"/>
				<notes>Delete a record</notes>
			</method>
		</resource>
		<resource path="records/{layer}/{id}/history.json">
			<param name="layer" required="true" type="xsd:string" style="query" default="com.simplegeo.test"/>
			<param name="id" required="true" type="xsd:string" style="query" default="1234"/>
			<param name="limit" required="false" type="xsd:string" style="query" default="20"/>
			<param name="start" required="false" type="xsd:string" style="query" default="1270000000"/>
			<param name="end" required="false" type="xsd:string" style="query" default="1290000000"/>
			<method name="GET" id="get_history">
				<authentication required="true"/>
				<docs url="https://simplegeo.tenderapp.com/faqs/api-documentation/endpoints"/>
				<notes>Gets the history of a record</notes>
			</method>
			<method name="PUT" id="get_history_reverse">
				<authentication required="true"/>
				<docs url="https://simplegeo.tenderapp.com/faqs/api-documentation/endpoints"/>
				<notes>Gets the history of a record, in reverse order</notes>
			</method>
		</resource>
		<resource path="records/{layer}/nearby/{geohash}.json">
			<param name="layer" required="true" type="xsd:string" style="query" default="com.simplegeo.test"/>
			<param name="geohash" required="true" type="xsd:string" style="query" default="9q8yyk8y"/>
			<method name="GET" id="get_nearby_geohash">
				<authentication required="true"/>
				<docs url="https://simplegeo.tenderapp.com/faqs/api-documentation/endpoints"/>
				<notes>Gets the nearby points from a given geohash. Returns records in a given geohash for the given layer. By nature, a geohash is a bounding box, which means that no radius or center point is needed. Searching by a simple geohash is the fastest way to do a nearby query with the API.</notes>
			</method>
		</resource>
		<resource path="records/{layer}/nearby/{geohash}.json">
			<param name="layer" required="true" type="xsd:string" style="query" default="com.simplegeo.test"/>
			<param name="geohash" required="true" type="xsd:string" style="query" default="9q8yyk8y"/>
			<method name="GET" id="get_nearby_geohash">
				<authentication required="true"/>
				<docs url="https://simplegeo.tenderapp.com/faqs/api-documentation/endpoints"/>
				<notes>Gets the nearby points from a given geohash</notes>
			</method>
		</resource>
	</resources>
</application>
