simplegeo/api.simplegeo.com.xml

<?xml version="1.0" encoding="UTF-8"?>
<application xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:apigee="http://api.apigee.com/wadl/2010/07/" xmlns="http://wadl.dev.java.net/2009/02" xmlns:t="urn:simplegeo:simplegeoresponse"
	xsi:schemaLocation="http://wadl.dev.java.net/2009/02 http://apigee.com/schemas/wadl-schema.xsd http://api.apigee.com/wadl/2010/07/ http://apigee.com/schemas/apigee-wadl-extensions.xsd">

	<resources base="http://api.simplegeo.com/1.0">

		<resource path="features/{handle}.{format}">
			<param name="handle" required="true" type="xsd:string" style="query" default="SG_6fK3DOaRivKAmLA15lsuyv" />
			<param name="format" type="xsd:string" style="template" required="true" default="json">
				<option value="json" mediaType="application/json" />
			</param>
			<method id="features" name="GET">
				<apigee:tags>
					<apigee:tag primary="true">Features</apigee:tag>
				</apigee:tags>
				<apigee:authentication required="false" />
				<apigee:example url="features/{handle}.{format}" />
				<doc title="" apigee:url="http://simplegeo.com/docs/api-endpoints/simplegeo-features">
					Returns a feature object. It could be a place (point) or area (polygon).
				</doc>
			</method>
		</resource>

		<resource path="context/{lat},{lon}.{format}">
			<param name="lat" required="true" type="xsd:string" style="query" default="37.77275" />
			<param name="lon" required="true" type="xsd:string" style="query" default="-122.40572" />
			<param name="format" type="xsd:string" style="template" required="true" default="json">
				<option value="json" mediaType="application/json" />
			</param>
			<method id="context" name="GET">
				<apigee:tags>
					<apigee:tag primary="true">Context</apigee:tag>
				</apigee:tags>
				<apigee:authentication required="true" />
				<apigee:example url="context/{lat},{lon}.{format}" />
				<doc title="" apigee:url="http://simplegeo.com/docs/api-endpoints/simplegeo-context">
					Does a SimpleGeo Context query, returning polygons and other data related to a coordinate.
				</doc>
			</method>

		</resource>

		<resource path="context/address.{format}">
			<param name="address" required="true" type="xsd:string" style="query" default="41 Decatur St, San Francisco, CA" />
			<param name="format" type="xsd:string" style="template" required="true" default="json">
				<option value="json" mediaType="application/json" />
			</param>
			<method id="context_address" name="GET">
				<apigee:tags>
					<apigee:tag primary="true">Context</apigee:tag>
				</apigee:tags>
				<apigee:authentication required="true" />
				<apigee:example url="context/address.{format}?address={address}" />
				<doc title="" apigee:url="http://simplegeo.com/docs/api-endpoints/simplegeo-context">
					Does a SimpleGeo Context query, returning polygons and other data related to a coordinate.
				</doc>
			</method>

		</resource>

		<resource path="context/{ip}.{format}">
			<param name="ip" required="true" type="xsd:string" style="query" default="IP" />
			<param name="format" type="xsd:string" style="template" required="true" default="json">
				<option value="json" mediaType="application/json" />
			</param>
			<method id="context_ip" name="GET">
				<apigee:tags>
					<apigee:tag primary="true">Context</apigee:tag>
				</apigee:tags>
				<apigee:authentication required="true" />
				<apigee:example url="context/{ip}.{format}" />
				<doc title="" apigee:url="http://simplegeo.com/docs/api-endpoints/simplegeo-context">
					Does a SimpleGeo Context query, returning polygons and other data related to a coordinate.
				</doc>
			</method>

		</resource>

		<resource path="places/{lat},{lon}.{format}">
			<param name="lat" required="true" type="xsd:string" style="query" default="37.77275" />
			<param name="lon" required="true" type="xsd:string" style="query" default="-122.40572" />
			<param name="format" type="xsd:string" style="template" required="true" default="json">
				<option value="json" mediaType="application/json" />
			</param>
			<method id="places" name="GET">
				<apigee:tags>
					<apigee:tag primary="true">Places</apigee:tag>
				</apigee:tags>
				<apigee:authentication required="true" />
				<apigee:example url="places/{lat},{lon}.{format}" />
				<doc title="" apigee:url="http://simplegeo.com/docs/api-endpoints/simplegeo-places">
					Does a SimpleGeo Places query, returning 25 features near a given point.
				</doc>
			</method>

		</resource>

		<resource path="places/address.{format}">
			<param name="address" required="true" type="xsd:string" style="query" default="41 Decatur St, San Francisco, CA" />
			<param name="format" type="xsd:string" style="template" required="true" default="json">
				<option value="json" mediaType="application/json" />
			</param>
			<method id="places_address" name="GET">
				<apigee:tags>
					<apigee:tag primary="true">Places</apigee:tag>
				</apigee:tags>
				<apigee:authentication required="true" />
				<apigee:example url="places/address.{format}?address={address}" />
				<doc title="" apigee:url="http://simplegeo.com/docs/api-endpoints/simplegeo-places">
					Does a SimpleGeo Places query, returning 25 features near a given point.
				</doc>
			</method>

		</resource>

		<resource path="places/{ip}.{format}">
			<param name="ip" required="true" type="xsd:string" style="query" default="IP" />
			<param name="format" type="xsd:string" style="template" required="true" default="json">
				<option value="json" mediaType="application/json" />
			</param>
			<method id="places_ip" name="GET">
				<apigee:tags>
					<apigee:tag primary="true">Places</apigee:tag>
				</apigee:tags>
				<apigee:authentication required="true" />
				<apigee:example url="places/{ip}.{format}" />
				<doc title="" apigee:url="http://simplegeo.com/docs/api-endpoints/simplegeo-places">
					Does a SimpleGeo Places query, returning 25 features near a given point.
				</doc>
			</method>

		</resource>

	</resources>

</application>