simplegeo/api.simplegeo.com.xml

<application xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xsi:schemaLocation="http://research.sun.com/wadl/2006/10                      https://wadl.dev.java.net/wadl20061109.xsd" xmlns="http://research.sun.com/wadl/2006/10" xmlns:t="urn:simplegeo:simplegeoresponse"> 
	<resources base="http://api.simplegeo.com/0.1"> 
		<resource path="records/{layer}/{id}.json">
			<param name="layer" required="true" type="xsd:string" style="query" default="com.simplegeo.test"/>
			<param name="id" required="true" type="xsd:string" style="query" default="1234"/>
			<method name="GET" id="get_records">
				<authentication required="true"/>
                <doc url="http://simplegeo.com/docs/api-endpoints/record-management#single-record">Fetch a Record </doc>
			</method>
			<method name="PUT" id="add_records">
				<authentication required="true"/>
                <doc url="http://simplegeo.com/docs/api-endpoints/record-management#single-record">Post a record</doc>
			</method>
			<method name="DELETE" id="delete_records">
				<authentication required="true"/>
                <doc url="http://simplegeo.com/docs/api-endpoints/record-management#single-record">Delete a record</doc>
			</method>
		</resource>
		<resource path="records/{layer}/{id}/history.json">
			<param name="layer" required="true" type="xsd:string" style="query" default="com.simplegeo.test"/>
			<param name="id" required="true" type="xsd:string" style="query" default="1234"/>
			<param name="limit" required="false" type="xsd:string" style="query" default="20"/>
			<param name="start" required="false" type="xsd:string" style="query" default="1270000000"/>
			<param name="end" required="false" type="xsd:string" style="query" default="1290000000"/>
			<method name="GET" id="get_history">
				<authentication required="true"/>
				<docs url="https://simplegeo.zendesk.com/entries/208976-api-endpoints">Gets the history of a record</doc>
			</method>
			<method name="PUT" id="get_history_reverse">
				<authentication required="true"/>
                <doc url="http://simplegeo.com/docs/api-endpoints/querying-layers#record-history">Gets the history of a record, in reverse order</doc>
			</method>
		</resource>
		<resource path="records/{layer}/nearby/{IP}.json">
			<param name="layer" required="true" type="xsd:string" style="query" default="com.simplegeo.test"/>
			<param name="IP" required="true" type="xsd:string" style="query" default="173.164.32.246"/>
			<method name="GET" id="get_nearby_ip">
				<authentication required="true"/>
				<doc url="http://simplegeo.com/docs/api-endpoints/querying-layers#nearby-ip-address">Returns records nearby a given IP address for the given layer. Specifying start and end in the request will search the API within a given time interval. To make use of our time based index, the difference between start and end must not be greater than 60 minutes.</doc>
			</method>
		</resource>
		<resource path="records/{layer}/nearby/{geohash}.json">
			<param name="layer" required="true" type="xsd:string" style="query" default="com.simplegeo.test"/>
			<param name="geohash" required="true" type="xsd:string" style="query" default="9q8yyk8y"/>
			<method name="GET" id="get_nearby_geohash">
				<authentication required="true"/>
                <doc url="http://simplegeo.com/docs/api-endpoints/querying-layers#nearby-geohash">Gets the nearby points from a given geohash. Returns records in a given geohash for the given layer. By nature, a geohash is a bounding box, which means that no radius or center point is needed. Searching by a simple geohash is the fastest way to do a nearby query with the API.</doc>
			</method>
		</resource>
		<resource path="records/{layer}/nearby/{lat},{lon}.json">
			<param name="layer" required="true" type="xsd:string" style="query" default="com.simplegeo.test"/>
			<param name="lat" required="true" type="xsd:string" style="query" default="37.77275"/>
			<param name="lon" required="true" type="xsd:string" style="query" default="-122.40572"/>
			<method name="GET" id="get_nearby">
				<authentication required="true"/>
                <doc url="http://simplegeo.com/docs/api-endpoints/querying-layers#nearby-latitude-longitude">Search the API using a given latitude and longitude. The default radius is 1 kilometer and 25 records are returned by default. Specifying start and end in the request will search the API within a given time interval. Specifying start and end in the request will search the API within a given time interval. To make use of our time based index, the difference between start and end must not be greater than 60 minutes.</doc>
			</method>
		</resource>
		<resource path="geocode/address.json">
			<param name="q" required="true" type="xsd:string" style="query" default="41 Decatur St, San Francisco, 94103"/>
			<method name="GET" id="geocode_address">
				<authentication required="true"/>
				<doc url="http://simplegeo.com/docs/api-endpoints/geocoding#forward-geocoder">Geocodes a human readable address (street, city, state, zip, etc) and returns a latitude and longitude. NOTE: This geocoder only works for US addresses only right now.</doc>
			</method>
		</resource>
		<resource path="nearby/address/{lat},{lon}.json">
			<param name="lat" required="true" type="xsd:string" style="query" default="37.77275"/>
			<param name="lon" required="true" type="xsd:string" style="query" default="-122.40572"/>
			<method name="GET" id="get_nearby_address">
				<authentication required="true"/>
                <doc url="http://simplegeo.com/docs/api-endpoints/geocoding#reverse-geocoding">Does a reverse geocode lookup, which converts the given latitude and longitude into a human readable point with address, street, city, state, and county depending on where the person is currently located. NOTE: The reverse geocoder only works for coordinates in the US currently.</doc>
			</method>
		</resource>
		<resource path="context/{lat},{lon}.json">
			<param name="lat" required="true" type="xsd:string" style="query" default="37.77275"/>
			<param name="lon" required="true" type="xsd:string" style="query" default="-122.40572"/>
			<method name="GET" id="contains">
				<authentication required="true"/>
                <doc url="http://simplegeo.com/docs/api-endpoints/context"/>Does a SimpleGeo Context query, returning polygons and other data related to a coordinate.</doc>
			</method>
		</resource>
		<resource path="contains/{lat},{lon}.json">
			<param name="lat" required="true" type="xsd:string" style="query" default="37.77275"/>
			<param name="lon" required="true" type="xsd:string" style="query" default="-122.40572"/>
			<method name="GET" id="contains">
				<authentication required="true"/>
                <doc url="http://simplegeo.com/docs/api-endpoints/pushpin-querying#contains"/>Does a "pushpin" query through a series of polygon layers and identifies the "cone" of administrative and other boundaries in which the point lies. Returns a list of features containing id, name, abbr, type and bounds fields.</doc>
			</method>
		</resource>
		<resource path="contains/{IP}.json">
			<param name="IP" required="true" type="xsd:string" style="query" default="173.164.32.246"/>
			<method name="GET" id="contains">
				<authentication required="true"/>
				<doc url="http://simplegeo.com/docs/api-endpoints/pushpin-querying#contains-ip-address"/>Does a "pushpin" query through a series of polygon layers and identifies the "cone" of administrative and other boundaries in which the point lies. Returns a list of features containing id, name, abbr, type and bounds fields.</doc>
			</method>
		</resource>
		<resource path="overlaps/{south},{west},{north},{east}.json">
			<param name="south" required="true" type="xsd:string" style="query" default="42.4166"/>
			<param name="west" required="true" type="xsd:string" style="query" default="-82.9189"/>
			<param name="north" required="true" type="xsd:string" style="query" default="42.4465"/>
			<param name="east" required="true" type="xsd:string" style="query" default="-82.8753"/>
			<param name="limit" required="false" type="xsd:string" style="query" default="20"/>
			<param name="type" required="false" type="xsd:string" style="query" default="Neighborhood"/>
			<method name="GET" id="overlaps">
				<authentication required="true"/>
                <doc url="http://simplegeo.com/docs/api-endpoints/pushpin-querying#bounding-box">Queries a series of polygon layers and identifies the "cone" of administrative and other boundaries that overlap with the given bounding box. The arguments are expected in units of latitude and longitude. The results are returned in the same form as the contains query.</doc>
			</method>
		</resource>
		<resource path="boundary/{id}.json">
			<param name="lon" required="true" type="xsd:string" style="query" default="Urban_Area:San_Francisco1:9q9jsg"/>
			<method name="GET" id="boundary">
				<authentication required="true"/>
                <doc url="http://simplegeo.com/docs/api-endpoints/pushpin-querying#boundry">Returns a feature object from the SimpleGeo gazetteer, as above, along with the geometry of the feature in GeoJSON format in the geometry field. The id parameter to this method should given in the same form as returned by the contains method above.</doc>
			</method>
		</resource>
		<resource path="locate/{IP}.json">
			<param name="IP" required="true" type="xsd:string" style="query" default="173.164.32.246"/>
			<method name="GET" id="locate">
				<authentication required="true"/>
				<doc url="http://simplegeo.com/docs/api-endpoints/geoip#latitude-longitude-ip-address">Takes an IP address and returns a latitude and longitude in GeoJSON.</doc>
			</method>
		</resource>
		<resource path="density/{dayname}/{hour}/{lat},{lon}.json">
			<param name="dayname" required="true" type="xsd:string" style="query" default="mon"/>
			<param name="hour" required="true" type="xsd:string" style="query" default="15"/>
			<param name="lat" required="true" type="xsd:string" style="query" default="37.77275"/>
			<param name="lon" required="true" type="xsd:string" style="query" default="-122.40572"/>
			<method name="GET" id="density_hour">
				<authentication required="true"/>
                <doc url="http://simplegeo.com/docs/api-endpoints/spotrank#density-hour">Returns the Skyhook SpotRank data for the requested location on a given day and hour. dayname is one of: mon, tue, wed, thu, fri, sat, or sun. hour is between 0-23.</doc>
			</method>
		</resource>
		<resource path="density/{dayname}/{lat},{lon}.json">
			<param name="dayname" required="true" type="xsd:string" style="query" default="mon"/>
			<param name="lat" required="true" type="xsd:string" style="query" default="37.77275"/>
			<param name="lon" required="true" type="xsd:string" style="query" default="-122.40572"/>
			<method name="GET" id="density">
				<authentication required="true"/>
                <doc url="http://simplegeo.com/docs/api-endpoints/spotrank#spotrank">Returns the Skyhook SpotRank data for the requested location on a given day. dayname is one of: mon, tue, wed, thu, fri, sat, or sun.</doc>
			</method>
		</resource>
	</resources>
</application>
