blogger/blogger.wadl.xml

<?xml version="1.0" encoding="UTF-8"?>

<application xmlns="http://wadl.dev.java.net/2009/02"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:apigee="http://api.apigee.com/wadl/2010/07/"
             xsi:schemaLocation="http://wadl.dev.java.net/2009/02 http://apigee.com/schemas/wadl-schema.xsd http://api.apigee.com/wadl/2010/07/ http://apigee.com/schemas/apigee-wadl-extensions.xsd">

	<resources base="https://www.googleapis.com/blogger/v2">
		
		<resource path="users/{userId}/blogs">
			<method id="blogger.users.blogs.list" name="GET" apigee:displayName="List User Blogs">
				<apigee:tags>
					<apigee:tag primary="true">Blogger</apigee:tag>
				</apigee:tags>
				
				<apigee:authentication required="true" />
				
				<apigee:example url="users/{userId}/blogs" />

				<doc apigee:url="http://code.google.com/intl/en/apis/blogger/docs/2.0/json/reference.html#method_blogger_users_blogs_list">
					<![CDATA[Retrieves the list of Blogs for a User, given a userId.]]>
				</doc>
				
				<request>
					<param name="userId" type="xsd:string" style="template" required="true" />
					<param name="fields" type="xsd:string" style="query" required="false" />
				</request>
			</method>
		</resource>
		
		<resource path="blogs/{blogId}">
			<method id="blogger.blogs.get" name="GET" apigee:displayName="List Blogs">
				<apigee:tags>
					<apigee:tag primary="true">Blogger</apigee:tag>
				</apigee:tags>
				
				<apigee:authentication required="true" />
				
				<apigee:example url="blogs/{blogId}" />

				<doc apigee:url="http://code.google.com/intl/en/apis/blogger/docs/2.0/json/reference.html#method_blogger_blogs_get">
					<![CDATA[Retrieves a Blogs Resource's metadata by its blogId.]]>
				</doc>
				
				<request>
					<param name="blogId" type="xsd:string" style="template" required="true" />
					<param name="fields" type="xsd:string" style="query" required="false" />
				</request>
			</method>
		</resource>
	
	</resources>
</application>