google-latitude/google-latitude.wadl.xml

<?xml version="1.0" encoding="UTF-8"?>

<application xmlns="http://wadl.dev.java.net/2009/02"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:apigee="http://api.apigee.com/wadl/2010/07/"
             xsi:schemaLocation="http://wadl.dev.java.net/2009/02 http://apigee.com/schemas/wadl-schema.xsd http://api.apigee.com/wadl/2010/07/ http://apigee.com/schemas/apigee-wadl-extensions.xsd">

	<resources base="https://www.googleapis.com/latitude/v1">
		
		<resource path="location">
			<method id="location.list" name="GET" apigee:displayName="List Locations">
				<apigee:tags>
					<apigee:tag primary="true">Google Latitude</apigee:tag>
				</apigee:tags>
				
				<apigee:authentication required="true" />
				
				<apigee:example url="location" />

				<doc apigee:url="http://code.google.com/intl/en/apis/latitude/v1/reference.html#method_latitude_location_list">
					<![CDATA[Returns a list of Location Resources representing past locations of the authenticated user.]]>
				</doc>

				<request>
					<param name="granularity" type="xsd:string" style="query" required="false" />
					<param name="max-results" type="xsd:string" style="query" required="false" />
					<param name="max-time" type="xsd:string" style="query" required="false" />
					<param name="min-time" type="xsd:string" style="query" required="false" />
					<param name="fields" type="xsd:string" style="query" required="false" />
				</request>
			</method>
		</resource>
		
		<resource path="location/{locationId}">
			<method id="location.get" name="GET" apigee:displayName="Get Location">
				<apigee:tags>
					<apigee:tag primary="true">Google Latitude</apigee:tag>
				</apigee:tags>
				
				<apigee:authentication required="true" />
				
				<apigee:example url="location/{locationId}" />

				<doc apigee:url="http://code.google.com/intl/en/apis/latitude/v1/reference.html#method_latitude_location_get">
					<![CDATA[Returns the specified Location Resource from the authenticated user's location history.]]>
				</doc>
				
				<request>
					<param name="locationId" type="xsd:string" style="template" required="true" />
					<param name="granularity" type="xsd:string" style="query" required="false" />
					<param name="fields" type="xsd:string" style="query" required="false" />
				</request>
			</method>
		</resource>
	
	</resources>
</application>