picasa/picasa.wadl.xml

<?xml version="1.0" encoding="UTF-8"?>

<application xmlns="http://wadl.dev.java.net/2009/02"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:apigee="http://api.apigee.com/wadl/2010/07/"
             xsi:schemaLocation="http://wadl.dev.java.net/2009/02 http://apigee.com/schemas/wadl-schema.xsd http://api.apigee.com/wadl/2010/07/ http://apigee.com/schemas/apigee-wadl-extensions.xsd">

	<resources base="https://picasaweb.google.com/data/feed/api">

		<resource path="user/{userID}">
			<method id="picasa.users.albums.list" name="GET" apigee:displayName="List User Albums">
				<apigee:tags>
					<apigee:tag primary="true">Picasa</apigee:tag>
				</apigee:tags>
				
				<apigee:authentication required="true" />
				
				<apigee:example url="user/{userID}" />

				<doc apigee:url="http://code.google.com/intl/en/apis/picasaweb/docs/2.0/developers_guide_protocol.html#ListAlbums">
					<![CDATA[Gets a feed listing all of the albums belonging to user userID.]]>
				</doc>
				
				<request>
					<param name="userID" type="xsd:string" style="template" required="true" />
				</request>
			</method>
		</resource>
		
		<resource path="user/{userID}/albumid/{albumID}">
			<method id="picasa.users.album.photos.list" name="GET" apigee:displayName="List User Album Photos">
				<apigee:tags>
					<apigee:tag primary="true">Picasa</apigee:tag>
				</apigee:tags>
				
				<apigee:authentication required="true" />
				
				<apigee:example url="user/{userID}/albumid/{albumID}" />

				<doc apigee:url="http://code.google.com/intl/en/apis/picasaweb/docs/2.0/developers_guide_protocol.html#ListPhotos">
					<![CDATA[Gets a list of all of the photos in album albumID belonging to user userID.]]>
				</doc>
				
				<request>
					<param name="userID" type="xsd:string" style="template" required="true" />
					<param name="albumID" type="xsd:string" style="template" required="true" />
				</request>
			</method>
		</resource>
	
	</resources>
</application>