myspace/myspace.wadl.xml

<?xml version="1.0" encoding="UTF-8"?>

<application xmlns="http://wadl.dev.java.net/2009/02"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:apigee="http://api.apigee.com/wadl/2010/07/"
             xsi:schemaLocation="http://wadl.dev.java.net/2009/02 http://apigee.com/schemas/wadl-schema.xsd http://api.apigee.com/wadl/2010/07/ http://apigee.com/schemas/apigee-wadl-extensions.xsd">
	
	<resources base="http://api.myspace.com/1.0">
		
		<resource path="activities/{personId}/{selector}">
			<method id="getUserActivities" name="GET" apigee:displayName="Get User Activities">
				<apigee:tags>
					<apigee:tag primary="true">MySpace</apigee:tag>
				</apigee:tags>
				
				<apigee:authentication required="true" />
				
				<apigee:example url="activities/{personId}/{selector}" />

				<doc apigee:url="http://wiki.developer.myspace.com/index.php?title=Activities_API">
					<![CDATA[Retrieves all activities for the user.]]>
				</doc>
				
				<request>
					<param name="personId" required="true">
						<apigee:choice>
							<param type="xsd:string" default="@me" />
							<param type="xsd:integer" />
							<param type="xsd:string" />
						</apigee:choice>
					</param>
					<param name="selector" required="true">
						<apigee:choice>
							<param type="xsd:string" default="@self" />
							<param type="xsd:string" default="@all" />
							<param type="xsd:string" default="@friends" />
						</apigee:choice>
					</param>
				</request>
			</method>
		</resource>
			
		<resource path="activities/{personId}/@self">
			<method id="createUserActivity" name="POST" apigee:displayName="Create User Activity">
				<apigee:tags>
					<apigee:tag primary="true">MySpace</apigee:tag>
				</apigee:tags>
				
				<apigee:authentication required="true" />
				
				<apigee:example url="activities/{personId}/@self" />
				
				<doc apigee:url="http://wiki.developer.myspace.com/index.php?title=Activities_API">
					<![CDATA[Creates an activity for the user.]]>
				</doc>
				
				<request>
					<param name="personId" required="true">
						<apigee:choice>
							<param type="xsd:string" default="@me" />
							<param type="xsd:integer" />
							<param type="xsd:string" />
						</apigee:choice>
					</param>

					<representation>
						<apigee:payload>
							<![CDATA[
{
	"externalId":"myExternalId",
	"id":"myspace.com.activity.1",
	"title":"myTitle",
	"body":"myBody",
	"templateParams":{
		"msParameters":[
		{
			"key":"friend",
			"value":"6221"
		},
		{
			"key":"content",
			"value":"hello"
		}]
	},
	"titleId":"template_1"
}
							]]>
						</apigee:payload>
					</representation>
				</request>
			</method>
		</resource>
	
	</resources>
</application>