google-calendar/google-calendar.wadl.xml

<?xml version="1.0" encoding="UTF-8"?>

<application xmlns="http://wadl.dev.java.net/2009/02"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:apigee="http://api.apigee.com/wadl/2010/07/"
             xsi:schemaLocation="http://wadl.dev.java.net/2009/02 http://apigee.com/schemas/wadl-schema.xsd http://api.apigee.com/wadl/2010/07/ http://apigee.com/schemas/apigee-wadl-extensions.xsd">
	
	<resources base="https://www.googleapis.com/calendar/v3">
		
		<resource path="calendars/{calendarId}/acl">
			<method id="list" name="GET" apigee:displayName="List Calendar Access Control Rules">
				<apigee:tags>
					<apigee:tag primary="true">Google Calendar</apigee:tag>
				</apigee:tags>
				
				<apigee:authentication required="true" />
				
				<apigee:example url="calendars/{calendarId}/acl" />

				<doc apigee:url="http://code.google.com/intl/en/apis/calendar/v3/reference.html#method_calendar_acl_list">
					<![CDATA[Returns the rules in the access control list for the calendar. Authentication is required.]]>
				</doc>
				
				<request>
					<param name="calendarId" type="xsd:string" style="template" required="true" />
				</request>
			</method>
		</resource>

		<resource path="calendars/{calendarId}/acl/{ruleId}">
			<method id="get" name="GET" apigee:displayName="Get Calendar Access Control Rule">
				<apigee:tags>
					<apigee:tag primary="true">Google Calendar</apigee:tag>
				</apigee:tags>

				<apigee:authentication required="true" />

				<apigee:example url="calendars/{calendarId}/acl/{ruleId}" />

				<doc apigee:url="http://code.google.com/intl/en/apis/calendar/v3/reference.html#method_calendar_acl_get">
					<![CDATA[Returns an access control rule. Authentication is required.]]>
				</doc>
				
				<request>
					<param name="calendarId" type="xsd:string" style="template" required="true" />
					<param name="ruleId" type="xsd:string" style="template" required="true" />
				</request>
			</method>
		</resource>
	
	</resources>
</application>