google-spreadsheets/google-spreadsheets.wadl.xml

<?xml version="1.0" encoding="UTF-8"?>

<application xmlns="http://wadl.dev.java.net/2009/02"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:apigee="http://api.apigee.com/wadl/2010/07/"
             xsi:schemaLocation="http://wadl.dev.java.net/2009/02 http://apigee.com/schemas/wadl-schema.xsd http://api.apigee.com/wadl/2010/07/ http://apigee.com/schemas/apigee-wadl-extensions.xsd">

	<resources base="https://spreadsheets.google.com/feeds">
		
		<resource path="spreadsheets/private/full">
			<method id="spreadsheets.list" name="GET" apigee:displayName="Get Spreadsheets">
				<apigee:tags>
					<apigee:tag primary="true">Google Spreadsheets</apigee:tag>
				</apigee:tags>
				
				<apigee:authentication required="true" />
				
				<apigee:example url="spreadsheets/private/full" />

				<doc apigee:url="http://code.google.com/intl/en/apis/spreadsheets/data/3.0/developers_guide.html#ListingSpreadsheets">
					<![CDATA[Retrieves the list of spreadsheets for the authenticated user.]]>
				</doc>
			</method>
		</resource>
		
		<resource path="worksheets/{key}/private/full">			
			<method id="spreadsheets.create" name="GET" apigee:displayName="Get Worksheet">
				<apigee:tags>
					<apigee:tag primary="true">Google Spreadsheets</apigee:tag>
				</apigee:tags>
				
				<apigee:authentication required="true" />
				
				<apigee:example url="worksheets/{key}/private/full" />

				<doc apigee:url="http://code.google.com/intl/en/apis/spreadsheets/data/3.0/developers_guide.html#RetrievingWorksheetFeeds">
					<![CDATA[Get a worksheet.]]>
				</doc>
				
				<request>
					<param name="key" type="xsd:string" style="template" required="true" />
				</request>
			</method>
		</resource>
	
	</resources>
</application>