google-tasks/google-tasks.wadl.xml

<?xml version="1.0" encoding="UTF-8"?>

<application xmlns="http://wadl.dev.java.net/2009/02"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:apigee="http://api.apigee.com/wadl/2010/07/"
             xsi:schemaLocation="http://wadl.dev.java.net/2009/02 http://apigee.com/schemas/wadl-schema.xsd http://api.apigee.com/wadl/2010/07/ http://apigee.com/schemas/apigee-wadl-extensions.xsd">
	
	<resources base="https://www.googleapis.com/tasks/v1">
		
		<resource path="lists/{tasklist}/tasks">
			<method id="list" name="GET" apigee:displayName="List Tasks">
				<apigee:tags>
					<apigee:tag primary="true">Google Tasks</apigee:tag>
				</apigee:tags>
				
				<apigee:authentication required="true" />
				
				<apigee:example url="lists/{tasklist}/tasks" />

				<doc apigee:url="http://code.google.com/intl/en/apis/tasks/v1/reference.html#method_tasks_tasks_list">
					<![CDATA[Returns all Task Resources in the specified task list.]]>
				</doc>

				<request>
					<param name="tasklist" type="xsd:string" style="template" required="true" />
					<param name="maxResults" type="xsd:string" style="query" default="100" required="false" />
					<param name="completedMax" type="xsd:string" style="query" required="false" />
					<param name="completedMin" type="xsd:string" style="query" required="false" />
					<param name="dueMax" type="xsd:string" style="query" required="false" />
					<param name="dueMin" type="xsd:string" style="query" required="false" />
					<param name="showCompleted" type="xsd:string" style="query" default="true" required="false" />
					<param name="showDeleted" type="xsd:string" style="query" default="false" required="false" />
					<param name="showHidden" type="xsd:string" style="query" default="false" required="false" />
					<param name="pageToken" type="xsd:string" style="query" required="false" />
					<param name="updatedMin" type="xsd:string" style="query" required="false" />
					<param name="fields" type="xsd:string" style="query" required="false" />
				</request>
			</method>
		</resource>
		
		<resource path="lists/{tasklist}/tasks/{task}">
			<method id="get" name="GET" apigee:displayName="Get Task">
				<apigee:tags>
					<apigee:tag primary="true">Google Tasks</apigee:tag>
				</apigee:tags>

				<apigee:authentication required="true" />

				<apigee:example url="lists/{tasklist}/tasks/{task}" />

				<doc apigee:url="http://code.google.com/intl/en/apis/tasks/v1/reference.html#method_tasks_tasks_get">
					<![CDATA[Returns the specified Task Resource.]]>
				</doc>

				<request>
					<param name="tasklist" type="xsd:string" style="template" required="true" />
					<param name="task" type="xsd:string" style="template" required="true" />
					<param name="fields" type="xsd:string" style="query" required="false" />
				</request>
			</method>
		</resource>
	
	</resources>
</application>