google-analytics/google-analytics.wadl.xml

<?xml version="1.0" encoding="UTF-8"?>

<application xmlns="http://wadl.dev.java.net/2009/02"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:apigee="http://api.apigee.com/wadl/2010/07/"
             xsi:schemaLocation="http://wadl.dev.java.net/2009/02 http://apigee.com/schemas/wadl-schema.xsd http://api.apigee.com/wadl/2010/07/ http://apigee.com/schemas/apigee-wadl-extensions.xsd">

	<resources base="https://www.googleapis.com/analytics/v3">
		
		<resource path="management/accounts">
			<method id="analytics.management.accounts.list" name="GET" apigee:displayName="Get Accounts">
				<apigee:tags>
					<apigee:tag primary="true">Google Analytics</apigee:tag>
				</apigee:tags>
				
				<apigee:authentication required="true" />
				
				<apigee:example url="management/accounts" />

				<doc apigee:url="http://code.google.com/intl/en/apis/analytics/docs/mgmt/v3/mgmtReference.html#collection_accounts">
					<![CDATA[Lists all accounts to which the user has access.]]>
				</doc>
				
				<request>
					<param name="max-results" type="xsd:string" style="query" required="false" />
					<param name="start-index" type="xsd:integer" style="query" required="false" />
					<param name="fields" type="xsd:string" style="query" required="false" />
				</request>
			</method>
		</resource>
		
		<resource path="management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/goals">
			<method id="analytics.management.goals.list" name="GET" apigee:displayName="Get Goals">
				<apigee:tags>
					<apigee:tag primary="true">Google Analytics</apigee:tag>
				</apigee:tags>
				
				<apigee:authentication required="true" />
				
				<apigee:example url="management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/goals" />

				<doc apigee:url="http://code.google.com/intl/en/apis/analytics/docs/mgmt/v3/mgmtReference.html#collection_goals">
					<![CDATA[Lists all of the user's goals.]]>
				</doc>
				
				<request>
					<param name="accountId" type="xsd:string" style="template" required="true" />
					<param name="webPropertyId" type="xsd:string" style="template" required="true" />
					<param name="profileId" type="xsd:string" style="template" required="true" />
					<param name="max-results" type="xsd:string" style="query" required="false" />
					<param name="start-index" type="xsd:integer" style="query" required="false" />
					<param name="fields" type="xsd:string" style="query" required="false" />
				</request>
			</method>
		</resource>
	
	</resources>
</application>