google+/googleapis.com.xml

<application xmlns="http://wadl.dev.java.net/2009/02"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:apigee="http://api.apigee.com/wadl/2010/07/"
             xsi:schemaLocation="http://wadl.dev.java.net/2009/02 http://apigee.com/schemas/wadl-schema.xsd http://api.apigee.com/wadl/2010/07/ http://apigee.com/schemas/apigee-wadl-extensions.xsd">

      <resources base="https://www.googleapis.com/plus/v1/">

        <!-- People -->

        <resource path="people">
            <method id="Peopleget" name="GET" apigee:displayName="People: get">
                <apigee:tags>
                    <apigee:tag primary="true">People</apigee:tag>
                </apigee:tags>

                <apigee:authentication required="true"/>

                <apigee:example url="people/{userId}"/>

                <doc title="People: get" apigee:url="https://developers.google.com/+/api/latest/people/get">
                  <![CDATA[Get a person's profile.]]>
                </doc>

                <request>
                    <!-- Required parameters -->

                    <param name="userId" type="xsd:string" style="template" required="true">
                        <doc apigee:url="https://developers.google.com/+/api/latest/people/get">
                            <![CDATA[The ID of the person to get the profile for. The special value "me" can be used to indicate the authenticated user.]]>
                        </doc>
                    </param>
                  
                    <!-- Common parameters -->

                    <param name="callback" type="xsd:string" style="query" required="false">
                        <doc apigee:url="https://developers.google.com/+/api/">
                            <![CDATA[Specifies a JavaScript function that will be passed the response data for using the API with JSONP.]]>
                        </doc>
                    </param>

                    <param name="fields" type="xsd:string" style="query" required="false">
                        <doc apigee:url="https://developers.google.com/+/api/">
                          <![CDATA[Selector specifying which fields to include in a partial response.]]>
                        </doc>
                    </param>

                    <param name="key" type="xsd:string" style="query" required="false">
                        <doc apigee:url="https://developers.google.com/+/api/">
                          <![CDATA[API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.]]>
                        </doc>
                    </param>

                    <param name="access_token" type="xsd:string" style="query" required="false">
                        <doc apigee:url="https://developers.google.com/+/api/">
                          <![CDATA[OAuth 2.0 token for the current user. Learn more about OAuth.]]>
                        </doc>
                    </param>

                    <param name="prettyPrint" type="xsd:boolean" style="query" required="false">
                        <doc apigee:url="https://developers.google.com/+/api/">
                          <![CDATA[If set to "true", data output will include line breaks and indentation to make it more readable. If set to "false", unnecessary whitespace is removed, reducing the size of the response. Defaults to "true".]]>
                        </doc>
                    </param>

                </request>

                <response>
                    <representation mediaType="application/json"/>
                </response>
            </method>

            <method id="PeopleSearch" name="GET" apigee:displayName="People: Search">
                <apigee:tags>
                    <apigee:tag primary="true">People</apigee:tag>
                </apigee:tags>

                <apigee:authentication required="true"/>

                <apigee:example url="people"/>

                <doc title="People: search" apigee:url="https://developers.google.com/+/api/latest/people/search">
                  <![CDATA[Search all public profiles.]]>
                </doc>

                <request>

                    <param name="maxResults" type="xsd:positiveInteger" style="query" required="false">
                      <doc apigee:url="https://developers.google.com/+/api/latest/people/search">
                          <![CDATA[The maximum number of activities to include in the response, used for paging. For any response, the actual number returned may be less than the specified maxResults. Acceptable values are 1 to 20, inclusive. (Default: 10)]]>
                        </doc>
                    </param>

                    <param name="pageToken" type="xsd:string" style="query" required="false">
                      <doc apigee:url="https://developers.google.com/+/api/latest/people/search">
                          <![CDATA[The continuation token, used to page through large result sets. To get the next page of results, set this parameter to the value of "nextPageToken" from the previous response. This token may be of any length.]]>
                        </doc>
                    </param>

                    <param name="query" type="xsd:string" style="query" required="false">
                      <doc apigee:url="https://developers.google.com/+/api/latest/people/search">
                        <![CDATA[Full-text search query string.]]>
                        </doc>
                    </param>

                    <!-- Common parameters -->

                    <param name="callback" type="xsd:string" style="query" required="false">
                        <doc apigee:url="https://developers.google.com/+/api/">
                            <![CDATA[Specifies a JavaScript function that will be passed the response data for using the API with JSONP.]]>
                        </doc>
                    </param>

                    <param name="fields" type="xsd:string" style="query" required="false">
                        <doc apigee:url="https://developers.google.com/+/api/">
                          <![CDATA[Selector specifying which fields to include in a partial response.]]>
                        </doc>
                    </param>

                    <param name="key" type="xsd:string" style="query" required="false">
                        <doc apigee:url="https://developers.google.com/+/api/">
                          <![CDATA[API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.]]>
                        </doc>
                    </param>

                    <param name="access_token" type="xsd:string" style="query" required="false">
                        <doc apigee:url="https://developers.google.com/+/api/">
                          <![CDATA[OAuth 2.0 token for the current user. Learn more about OAuth.]]>
                        </doc>
                    </param>

                    <param name="prettyPrint" type="xsd:boolean" style="query" required="false">
                        <doc apigee:url="https://developers.google.com/+/api/">
                          <![CDATA[If set to "true", data output will include line breaks and indentation to make it more readable. If set to "false", unnecessary whitespace is removed, reducing the size of the response. Defaults to "true".]]>
                        </doc>
                    </param>

                </request>

                <response>
                    <representation mediaType="application/json"/>
                </response>
            </method>

            <method id="PeopleListByActivity" name="GET" apigee:displayName="People: listByActivity">
                <apigee:tags>
                    <apigee:tag primary="true">People</apigee:tag>
                </apigee:tags>

                <apigee:authentication required="true"/>

                <apigee:example url="activities/{activityId}/people/{collection}"/>

                <doc title="People: listByActivity" apigee:url="https://developers.google.com/+/api/latest/people/listByActivity">
                  <![CDATA[List all of the people in the specified collection for a particular activity.]]>
                </doc>

                <request>

                  <!-- Required Params -->
                    <param name="activityId" type="xsd:string" style="template" required="true">
                      <doc apigee:url="https://developers.google.com/+/api/latest/people/listByActivity">
                        <![CDATA[The ID of the activity to get the list of people for.]]>
                        </doc>
                    </param>

                    <param name="collection" type="xsd:string" style="template" required="true">
                      <doc apigee:url="https://developers.google.com/+/api/latest/people/listByActivity">
                        <![CDATA[The collection of people to list.]]>
                        </doc>
                    </param>

                    <!-- Optional Params -->
                    <param name="maxResults" type="xsd:positiveInteger" style="query" required="false">

                      <doc apigee:url="https://developers.google.com/+/api/latest/people/listByActivity">
                          <![CDATA[The maximum number of activities to include in the response, used for paging. For any response, the actual number returned may be less than the specified maxResults. Acceptable values are 1 to 20, inclusive. (Default: 10)]]>
                        </doc>
                    </param>

                    <param name="pageToken" type="xsd:string" style="query" required="false">
                      <doc apigee:url="https://developers.google.com/+/api/latest/people/listByActivity">
                          <![CDATA[The continuation token, used to page through large result sets. To get the next page of results, set this parameter to the value of "nextPageToken" from the previous response. This token may be of any length.]]>
                        </doc>
                    </param>

                    <!-- Common parameters -->

                    <param name="callback" type="xsd:string" style="query" required="false">
                        <doc apigee:url="https://developers.google.com/+/api/">
                            <![CDATA[Specifies a JavaScript function that will be passed the response data for using the API with JSONP.]]>
                        </doc>
                    </param>

                    <param name="fields" type="xsd:string" style="query" required="false">
                        <doc apigee:url="https://developers.google.com/+/api/">
                          <![CDATA[Selector specifying which fields to include in a partial response.]]>
                        </doc>
                    </param>

                    <param name="key" type="xsd:string" style="query" required="false">
                        <doc apigee:url="https://developers.google.com/+/api/">
                          <![CDATA[API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.]]>
                        </doc>
                    </param>

                    <param name="access_token" type="xsd:string" style="query" required="false">
                        <doc apigee:url="https://developers.google.com/+/api/">
                          <![CDATA[OAuth 2.0 token for the current user. Learn more about OAuth.]]>
                        </doc>
                    </param>

                    <param name="prettyPrint" type="xsd:boolean" style="query" required="false">
                        <doc apigee:url="https://developers.google.com/+/api/">
                          <![CDATA[If set to "true", data output will include line breaks and indentation to make it more readable. If set to "false", unnecessary whitespace is removed, reducing the size of the response. Defaults to "true".]]>
                        </doc>
                    </param>

                </request>

                <response>
                    <representation mediaType="application/json"/>
                </response>
            </method>
         </resource>

        <resource path="Activities">
            <method id="ActivitiesList" name="GET" apigee:displayName="Activities: list">
                <apigee:tags>
                    <apigee:tag primary="true">Activities</apigee:tag>
                </apigee:tags>

                <apigee:authentication required="true"/>

                <apigee:example url="people/{userId}/activities/{collection}"/>

                <doc title="Activites: list" apigee:url="https://developers.google.com/+/api/latest/activites/list">
                  <![CDATA[List all of the activities in the specified collection for a particular user.]]>
                </doc>

                <request>

                    <param name="userId" type="xsd:string" style="template" required="true">
                      <doc apigee:url="https://developers.google.com/+/api/latest/activities/list">
                        <![CDATA[The ID of the user to get activities for. The special value "me" can be used to indicate the authenticated user.]]>
                        </doc>
                    </param>

                    <param name="collection" type="xsd:string" style="template" required="true">
                      <doc apigee:url="https://developers.google.com/+/api/latest/activities/list">
                        <![CDATA[The collection of people to list.]]>
                        </doc>
                    </param>

                    <!-- Optional Params -->
                    <param name="maxResults" type="xsd:positiveInteger" style="query" required="false">

                      <doc apigee:url="https://developers.google.com/+/api/latest/activities/list">
                          <![CDATA[The maximum number of activities to include in the response, used for paging. For any response, the actual number returned may be less than the specified maxResults. Acceptable values are 1 to 20, inclusive. (Default: 10)]]>
                        </doc>
                    </param>

                    <param name="pageToken" type="xsd:string" style="query" required="false">
                      <doc apigee:url="https://developers.google.com/+/api/latest/activities/list">
                          <![CDATA[The continuation token, used to page through large result sets. To get the next page of results, set this parameter to the value of "nextPageToken" from the previous response. This token may be of any length.]]>
                        </doc>
                    </param>

                    <param name="alt" type="xsd:string" style="query" required="false">
                      <doc apigee:url="https://developers.google.com/+/api/latest/activities/list">
                        <![CDATA[Specifies an alternative representation type. Only JSON at the time of writing.]]>
                        </doc>
                    </param>

                    <!-- Common parameters -->

                    <param name="callback" type="xsd:string" style="query" required="false">
                        <doc apigee:url="https://developers.google.com/+/api/">
                            <![CDATA[Specifies a JavaScript function that will be passed the response data for using the API with JSONP.]]>
                        </doc>
                    </param>

                    <param name="fields" type="xsd:string" style="query" required="false">
                        <doc apigee:url="https://developers.google.com/+/api/">
                          <![CDATA[Selector specifying which fields to include in a partial response.]]>
                        </doc>
                    </param>

                    <param name="key" type="xsd:string" style="query" required="false">
                        <doc apigee:url="https://developers.google.com/+/api/">
                          <![CDATA[API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.]]>
                        </doc>
                    </param>

                    <param name="access_token" type="xsd:string" style="query" required="false">
                        <doc apigee:url="https://developers.google.com/+/api/">
                          <![CDATA[OAuth 2.0 token for the current user. Learn more about OAuth.]]>
                        </doc>
                    </param>

                    <param name="prettyPrint" type="xsd:boolean" style="query" required="false">
                        <doc apigee:url="https://developers.google.com/+/api/">
                          <![CDATA[If set to "true", data output will include line breaks and indentation to make it more readable. If set to "false", unnecessary whitespace is removed, reducing the size of the response. Defaults to "true".]]>
                        </doc>
                    </param>

                </request>

                <response>
                    <representation mediaType="application/json"/>
                </response>
            </method>

            <method id="ActivitiesGet" name="GET" apigee:displayName="Activities: get">
                <apigee:tags>
                    <apigee:tag primary="true">Activities</apigee:tag>
                </apigee:tags>

                <apigee:authentication required="true"/>

                <apigee:example url="activities/{activityId}"/>

                <doc title="Activites: get" apigee:url="https://developers.google.com/+/api/latest/activites/get">
                  <![CDATA[Get an activity.]]>
                </doc>

                <request>

                    <param name="activityId" type="xsd:string" style="template" required="true">
                      <doc apigee:url="https://developers.google.com/+/api/latest/activities/get">
                        <![CDATA[The ID of the activity to get.]]>
                        </doc>
                    </param>

                    <!-- Optional Params -->

                    <param name="alt" type="xsd:string" style="query" required="false">
                      <doc apigee:url="https://developers.google.com/+/api/latest/activities/get">
                        <![CDATA[Specifies an alternative representation type. Only JSON at the time of writing.]]>
                        </doc>
                    </param>

                    <!-- Common parameters -->

                    <param name="callback" type="xsd:string" style="query" required="false">
                        <doc apigee:url="https://developers.google.com/+/api/">
                            <![CDATA[Specifies a JavaScript function that will be passed the response data for using the API with JSONP.]]>
                        </doc>
                    </param>

                    <param name="fields" type="xsd:string" style="query" required="false">
                        <doc apigee:url="https://developers.google.com/+/api/">
                          <![CDATA[Selector specifying which fields to include in a partial response.]]>
                        </doc>
                    </param>

                    <param name="key" type="xsd:string" style="query" required="false">
                        <doc apigee:url="https://developers.google.com/+/api/">
                          <![CDATA[API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.]]>
                        </doc>
                    </param>

                    <param name="access_token" type="xsd:string" style="query" required="false">
                        <doc apigee:url="https://developers.google.com/+/api/">
                          <![CDATA[OAuth 2.0 token for the current user. Learn more about OAuth.]]>
                        </doc>
                    </param>

                    <param name="prettyPrint" type="xsd:boolean" style="query" required="false">
                        <doc apigee:url="https://developers.google.com/+/api/">
                          <![CDATA[If set to "true", data output will include line breaks and indentation to make it more readable. If set to "false", unnecessary whitespace is removed, reducing the size of the response. Defaults to "true".]]>
                        </doc>
                    </param>

                </request>

                <response>
                    <representation mediaType="application/json"/>
                </response>
            </method>


            <method id="ActivitiesSearch" name="GET" apigee:displayName="Activities">
                <apigee:tags>
                    <apigee:tag primary="true">Activites</apigee:tag>
                </apigee:tags>

                <apigee:authentication required="true"/>

                <apigee:example url="activites"/>

                <doc title="Activities: search" apigee:url="https://developers.google.com/+/api/latest/activities/search">
                  <![CDATA[Search all public activities.]]>
                </doc>

                <request>

                    <param name="maxResults" type="xsd:positiveInteger" style="query" required="false">
                      <doc apigee:url="https://developers.google.com/+/api/latest/activities/search">
                          <![CDATA[The maximum number of activities to include in the response, used for paging. For any response, the actual number returned may be less than the specified maxResults. Acceptable values are 1 to 20, inclusive. (Default: 10)]]>
                        </doc>
                    </param>

                    <param name="orderBy" type="xsd:string" style="query" required="false">
                      <doc apigee:url="https://developers.google.com/+/api/latest/activities/search">
                        <![CDATA[Specifies how to order search results. ]]>
                        </doc>
                    </param>

                    <param name="pageToken" type="xsd:string" style="query" required="false">
                      <doc apigee:url="https://developers.google.com/+/api/latest/activities/search">
                          <![CDATA[The continuation token, used to page through large result sets. To get the next page of results, set this parameter to the value of "nextPageToken" from the previous response. This token may be of any length.]]>
                        </doc>
                    </param>

                    <param name="query" type="xsd:string" style="query" required="false">
                      <doc apigee:url="https://developers.google.com/+/api/latest/activities/search">
                        <![CDATA[Full-text search query string.]]>
                        </doc>
                    </param>

                    <!-- Common parameters -->

                    <param name="callback" type="xsd:string" style="query" required="false">
                        <doc apigee:url="https://developers.google.com/+/api/">
                            <![CDATA[Specifies a JavaScript function that will be passed the response data for using the API with JSONP.]]>
                        </doc>
                    </param>

                    <param name="fields" type="xsd:string" style="query" required="false">
                        <doc apigee:url="https://developers.google.com/+/api/">
                          <![CDATA[Selector specifying which fields to include in a partial response.]]>
                        </doc>
                    </param>

                    <param name="key" type="xsd:string" style="query" required="false">
                        <doc apigee:url="https://developers.google.com/+/api/">
                          <![CDATA[API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.]]>
                        </doc>
                    </param>

                    <param name="access_token" type="xsd:string" style="query" required="false">
                        <doc apigee:url="https://developers.google.com/+/api/">
                          <![CDATA[OAuth 2.0 token for the current user. Learn more about OAuth.]]>
                        </doc>
                    </param>

                    <param name="prettyPrint" type="xsd:boolean" style="query" required="false">
                        <doc apigee:url="https://developers.google.com/+/api/">
                          <![CDATA[If set to "true", data output will include line breaks and indentation to make it more readable. If set to "false", unnecessary whitespace is removed, reducing the size of the response. Defaults to "true".]]>
                        </doc>
                    </param>

                </request>

                <response>
                    <representation mediaType="application/json"/>
                </response>
            </method>
        </resource>

        <resource path="Comments">
            <method id="CommentsList" name="GET" apigee:displayName="Comments: list">
                <apigee:tags>
                    <apigee:tag primary="true">Comments</apigee:tag>
                </apigee:tags>

                <apigee:authentication required="true"/>

                <apigee:example url="activities/{activityId}/comments"/>

                <doc title="Comments: list" apigee:url="https://developers.google.com/+/api/latest/comments/list">
                  <![CDATA[List all of the comments for an activity.]]>
                </doc>

                <request>

                  <!-- Required Parameters -->
                    <param name="activityId" type="xsd:string" style="template" required="true">
                      <doc apigee:url="https://developers.google.com/+/api/latest/comments/list">
                        <![CDATA[The ID of the activity to get comments for.]]>
                        </doc>
                    </param>

                    <!-- Optional Params -->

                    <param name="maxResults" type="xsd:positiveInteger" style="query" required="false">
                      <doc apigee:url="https://developers.google.com/+/api/latest/comments/list">
                          <![CDATA[The maximum number of activities to include in the response, used for paging. For any response, the actual number returned may be less than the specified maxResults. Acceptable values are 1 to 20, inclusive. (Default: 10)]]>
                        </doc>
                    </param>

                    <param name="pageToken" type="xsd:string" style="query" required="false">
                      <doc apigee:url="https://developers.google.com/+/api/latest/comments/list">
                          <![CDATA[The continuation token, used to page through large result sets. To get the next page of results, set this parameter to the value of "nextPageToken" from the previous response. This token may be of any length.]]>
                        </doc>
                    </param>

                    <param name="alt" type="xsd:string" style="query" required="false">
                      <doc apigee:url="https://developers.google.com/+/api/latest/comments/list">
                        <![CDATA[Specifies an alternative representation type. Only JSON at the time of writing.]]>
                        </doc>
                    </param>

                    <!-- Common parameters -->

                    <param name="callback" type="xsd:string" style="query" required="false">
                        <doc apigee:url="https://developers.google.com/+/api/">
                            <![CDATA[Specifies a JavaScript function that will be passed the response data for using the API with JSONP.]]>
                        </doc>
                    </param>

                    <param name="fields" type="xsd:string" style="query" required="false">
                        <doc apigee:url="https://developers.google.com/+/api/">
                          <![CDATA[Selector specifying which fields to include in a partial response.]]>
                        </doc>
                    </param>

                    <param name="key" type="xsd:string" style="query" required="false">
                        <doc apigee:url="https://developers.google.com/+/api/">
                          <![CDATA[API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.]]>
                        </doc>
                    </param>

                    <param name="access_token" type="xsd:string" style="query" required="false">
                        <doc apigee:url="https://developers.google.com/+/api/">
                          <![CDATA[OAuth 2.0 token for the current user. Learn more about OAuth.]]>
                        </doc>
                    </param>

                    <param name="prettyPrint" type="xsd:boolean" style="query" required="false">
                        <doc apigee:url="https://developers.google.com/+/api/">
                          <![CDATA[If set to "true", data output will include line breaks and indentation to make it more readable. If set to "false", unnecessary whitespace is removed, reducing the size of the response. Defaults to "true".]]>
                        </doc>
                    </param>

                </request>

                <response>
                    <representation mediaType="application/json"/>
                </response>
            </method>

            <method id="CommentsGet" name="GET" apigee:displayName="Comments: get">
                <apigee:tags>
                    <apigee:tag primary="true">Comments</apigee:tag>
                </apigee:tags>

                <apigee:authentication required="true"/>

                <apigee:example url="comments/{commentId}"/>

                <doc title="Comments: get" apigee:url="https://developers.google.com/+/api/latest/comments/get">
                  <![CDATA[Get a comment.]]>
                </doc>

                <request>

                  <!-- Required Parameter -->
                    <param name="commentId" type="xsd:string" style="template" required="true">
                      <doc apigee:url="https://developers.google.com/+/api/latest/comments/get">
                        <![CDATA[The ID of the comment to get.]]>
                        </doc>
                    </param>

                   <!-- Common parameters -->

                    <param name="callback" type="xsd:string" style="query" required="false">
                        <doc apigee:url="https://developers.google.com/+/api/">
                            <![CDATA[Specifies a JavaScript function that will be passed the response data for using the API with JSONP.]]>
                        </doc>
                    </param>

                    <param name="fields" type="xsd:string" style="query" required="false">
                        <doc apigee:url="https://developers.google.com/+/api/">
                          <![CDATA[Selector specifying which fields to include in a partial response.]]>
                        </doc>
                    </param>

                    <param name="key" type="xsd:string" style="query" required="false">
                        <doc apigee:url="https://developers.google.com/+/api/">
                          <![CDATA[API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.]]>
                        </doc>
                    </param>

                    <param name="access_token" type="xsd:string" style="query" required="false">
                        <doc apigee:url="https://developers.google.com/+/api/">
                          <![CDATA[OAuth 2.0 token for the current user. Learn more about OAuth.]]>
                        </doc>
                    </param>

                    <param name="prettyPrint" type="xsd:boolean" style="query" required="false">
                        <doc apigee:url="https://developers.google.com/+/api/">
                          <![CDATA[If set to "true", data output will include line breaks and indentation to make it more readable. If set to "false", unnecessary whitespace is removed, reducing the size of the response. Defaults to "true".]]>
                        </doc>
                    </param>

                </request>

                <response>
                    <representation mediaType="application/json"/>
                </response>
            </method>
        </resource>
    </resources>
</application>
