foursquare/foursquare_v1-wadl.xml

<?xml version="1.0" encoding="UTF-8"?>
<application xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:apigee="http://api.apigee.com/wadl/2010/07/" xmlns="http://wadl.dev.java.net/2009/02"
             xsi:schemaLocation="http://wadl.dev.java.net/2009/02 http://apigee.com/schemas/wadl-schema.xsd    http://api.apigee.com/wadl/2010/07/ http://apigee.com/schemas/apigee-wadl-extensions.xsd">


    <resources base="http://api.foursquare.com/v1">

        <resource path="checkins.{format}">
            <param name="format" type="xsd:string" style="template" required="true" default="json">
                <option value="xml" mediaType="application/xml"/>
                <option value="json" mediaType="application/json"/>
            </param>
            <param name="geolat" required="false" type="xsd:string" style="query" default="40.01685">
                <doc>Geographical Latitude</doc>
            </param>
            <param name="geolong" required="false" type="xsd:string" style="query" default="-105.276489">
                <doc>Geographical Longitude</doc>
            </param>
            <method id="checkins" name="GET">
                <apigee:tags xmlns:apigee="http://api.apigee.com/wadl/2010/07/">
                    <apigee:tag primary="true">Checkin</apigee:tag>
                </apigee:tags>
                <apigee:authentication xmlns:apigee="http://api.apigee.com/wadl/2010/07/" required="true"/>
                <apigee:example xmlns:apigee="http://api.apigee.com/wadl/2010/07/"
                                url="/checkins.{format}?geolat={geolat}&amp;geolong={geolong}"/>
            </method>
        </resource>

        <resource path="checkin.{format}">
            <param name="format" type="xsd:string" style="template" required="true" default="json">
                <option value="xml" mediaType="application/xml"/>
                <option value="json" mediaType="application/json"/>
            </param>
            <param name="geolat" required="false" type="xsd:string" style="query" default="40.01685">
                <doc>Geographical Latitude (optional, but recommended)</doc>
            </param>
            <param name="geolong" required="false" type="xsd:string" style="query" default="-105.276489">
                <doc>Geographical Longitude (optional, but recommended)</doc>
            </param>
            <param name="vid" required="false" type="xsd:string" style="query" default="1">
                <doc>ID of the venue where you want to check-in.Optional, not
                    necessary if you are 'shouting' or have a venue name.
                </doc>
            </param>
            <param name="venue" required="false" type="xsd:string" style="query" default="Rome">
                <doc>If you don't have a venue ID or would rather prefer a
                    'venueless' checkin, pass the venue name as a string using this
                    parameter. It will become an 'orphan' (no address or venueid but
                    with geolat, geolong). Optional, not necessary if you are
                    'shouting' or have a vid.
                </doc>
            </param>
            <param name="shout" required="false" type="xsd:string" style="query" default="shout">
                <doc>(optional) a message about your check-in. the maximum length
                    of this field is 140 characters
                </doc>
            </param>
            <param name="private" required="false" type="xsd:string" style="query" default="0">
                <doc>(optional). "1" means "don't show your friends". "0" means
                    "show everyone"
                </doc>
            </param>
            <param name="twitter" required="false" type="xsd:string" style="query" default="0">
                <doc>(optional, defaults to the user's setting). "1" means "send
                    to Twitter". "0" means "don't send to Twitter"
                </doc>
            </param>
            <param name="facebook" required="false" type="xsd:string" style="query" default="0">
                <doc>(optional, defaults to the user's setting). "1" means "send
                    to Facebook". "0" means "don't send to Facebook"
                </doc>
            </param>
            <method id="checkin" name="POST">
                <apigee:tags xmlns:apigee="http://api.apigee.com/wadl/2010/07/">
                    <apigee:tag primary="true">Checkin</apigee:tag>
                </apigee:tags>
                <apigee:authentication xmlns:apigee="http://api.apigee.com/wadl/2010/07/" required="true"/>
                <apigee:example xmlns:apigee="http://api.apigee.com/wadl/2010/07/" url="/checkin.{format}?vid={vid}"/>
            </method>
        </resource>

        <resource path="history.{format}">
            <param name="format" type="xsd:string" style="template" required="true" default="json">
                <option value="xml" mediaType="application/xml"/>
                <option value="json" mediaType="application/json"/>
            </param>
            <param name="l" required="false" type="xsd:string" style="query" default="20">
                <doc>limit of results (optional, default: 20, max: 250). number of
                    checkins to return
                </doc>
            </param>
            <param name="sinceid" required="false" type="xsd:string" style="query" default="2010">
                <doc>id to start returning results from (optional, if omitted
                    returns most recent results)
                </doc>
            </param>
            <method id="history" name="GET">
                <apigee:tags xmlns:apigee="http://api.apigee.com/wadl/2010/07/">
                    <apigee:tag primary="true">Checkin</apigee:tag>
                </apigee:tags>
                <apigee:authentication xmlns:apigee="http://api.apigee.com/wadl/2010/07/" required="true"/>
                <apigee:example xmlns:apigee="http://api.apigee.com/wadl/2010/07/" url="/history.json"/>
            </method>
        </resource>

        <resource path="user.{format}">
            <param name="format" type="xsd:string" style="template" required="true" default="json">
                <option value="xml" mediaType="application/xml"/>
                <option value="json" mediaType="application/json"/>
            </param>
            <param name="uid" type="xsd:string" style="query" required="false" default="1">
                <doc>userid for the user whose information you want to retrieve.
                    if you do not specify a 'uid', the authenticated user's profile
                    data will be returned.
                </doc>
            </param>
            <param name="twitter" required="false" type="xsd:string" style="query" default="apigee">
                <doc>twitter handle for the user whose information you want to
                    retrieve. if you specify both 'uid' and 'twitter', 'uid' will take
                    precedence.
                </doc>
            </param>
            <param name="badges" required="false" type="xsd:string" style="query" default="0">
                <doc>(optional, default: false) set to true ("1") to also show
                    badges for this user. by default, this will show badges earned
                    worldwide.
                </doc>
            </param>
            <param name="mayor" required="false" type="xsd:string" style="query" default="0">
                <doc>(optional, default: false) set to true ("1") to also show
                    venues for which this user is a mayor. by default, this will show
                    mayorships worldwide.
                </doc>
            </param>
            <method id="user_details" name="GET">
                <apigee:tags xmlns:apigee="http://api.apigee.com/wadl/2010/07/">
                    <apigee:tag primary="true">User</apigee:tag>
                </apigee:tags>
                <apigee:authentication xmlns:apigee="http://api.apigee.com/wadl/2010/07/" required="true"/>
                <apigee:example xmlns:apigee="http://api.apigee.com/wadl/2010/07/" url="/user.json"/>
            </method>
        </resource>

        <resource path="friends.{format}">
            <param name="format" type="xsd:string" style="template" required="true" default="json">
                <option value="xml" mediaType="application/xml"/>
                <option value="json" mediaType="application/json"/>
            </param>
            <param name="uid" type="xsd:string" style="query" required="false" default="1">
                <doc>user id of the person for whom you want to pull a friend
                    graph (optional)
                </doc>
            </param>
            <method id="friends" name="GET">
                <apigee:tags xmlns:apigee="http://api.apigee.com/wadl/2010/07/">
                    <apigee:tag primary="true">User</apigee:tag>
                </apigee:tags>
                <apigee:authentication xmlns:apigee="http://api.apigee.com/wadl/2010/07/" required="true"/>
                <apigee:example xmlns:apigee="http://api.apigee.com/wadl/2010/07/" url="/friends.json"/>
            </method>
        </resource>

        <resource path="venues.{format}">
            <param name="format" type="xsd:string" style="template" required="true" default="json">
                <option value="xml" mediaType="application/xml"/>
                <option value="json" mediaType="application/json"/>
            </param>
            <param name="geolat" required="true" type="xsd:string" style="query" default="40.01685">
                <doc>Geographical Latitude (optional, but recommended)</doc>
            </param>
            <param name="geolong" required="true" type="xsd:string" style="query" default="-105.276489">
                <doc>Geographical Longitude (optional, but recommended)</doc>
            </param>
            <param name="l" required="false" type="xsd:string" style="query" default="10">
                <doc>limit of results (optional, default 10, maximum 50)</doc>
            </param>
            <param name="q" required="false" type="xsd:string" style="query" default="Rome">
                <doc>keyword search (optional)</doc>
            </param>
            <method id="nearby_and_search" name="GET">
                <apigee:tags xmlns:apigee="http://api.apigee.com/wadl/2010/07/">
                    <apigee:tag primary="true">Venue</apigee:tag>
                </apigee:tags>
                <apigee:authentication xmlns:apigee="http://api.apigee.com/wadl/2010/07/" required="true"/>
                <apigee:example xmlns:apigee="http://api.apigee.com/wadl/2010/07/"
                                url="/venues.{format}?geolat={geolat}&amp;geolong={geolong}"/>
            </method>
        </resource>

        <resource path="venue.{format}">
            <param name="format" type="xsd:string" style="template" required="true" default="json">
                <option value="xml" mediaType="application/xml"/>
                <option value="json" mediaType="application/json"/>
            </param>
            <param name="vid" required="false" type="xsd:string" style="query" default="49049">
                <doc>The ID for the venue for which you want information</doc>
            </param>
            <method id="venue_details" name="GET">
                <apigee:tags xmlns:apigee="http://api.apigee.com/wadl/2010/07/">
                    <apigee:tag primary="true">Venue</apigee:tag>
                </apigee:tags>
                <apigee:authentication xmlns:apigee="http://api.apigee.com/wadl/2010/07/" required="false"/>
                <apigee:example xmlns:apigee="http://api.apigee.com/wadl/2010/07/" url="/venue.{format}?vid={vid}"/>
            </method>
        </resource>

        <resource path="categories.{format}">
            <param name="format" type="xsd:string" style="template" required="true" default="json">
                <option value="xml" mediaType="application/xml"/>
                <option value="json" mediaType="application/json"/>
            </param>

            <method id="categories_list" name="GET">
                <apigee:tags xmlns:apigee="http://api.apigee.com/wadl/2010/07/">
                    <apigee:tag primary="true">Venue</apigee:tag>
                </apigee:tags>
                <apigee:authentication xmlns:apigee="http://api.apigee.com/wadl/2010/07/" required="false"/>
                <apigee:example xmlns:apigee="http://api.apigee.com/wadl/2010/07/" url="/categories.{format}"/>
            </method>
        </resource>

        <resource path="addvenue.{format}">
            <param name="format" type="xsd:string" style="template" required="true" default="json">
                <option value="xml" mediaType="application/xml"/>
                <option value="json" mediaType="application/json"/>
            </param>
            <param name="name" required="true" type="xsd:string" style="query" default="Pig &amp; Whistle">
                <doc>The name of the venue</doc>
            </param>
            <param name="address" required="false" type="xsd:string" style="query" default="202 1st Avenue">
                <doc>(optional) the address of the venue</doc>
            </param>
            <param name="crossstreet" required="false" type="xsd:string" style="query" default="btw Grand &amp; Broome">
                <doc>(optional) the cross streets</doc>
            </param>
            <param name="city" required="false" type="xsd:string" style="query" default="Rome">
                <doc>(optional) the city name where this venue is</doc>
            </param>
            <param name="state" required="false" type="xsd:string" style="query" default="Italy">
                <doc>(optional) the state where the city is</doc>
            </param>
            <param name="zip" required="false" type="xsd:string" style="query" default="10002">
                <doc>(optional) the ZIP code for the venue</doc>
            </param>
            <param name="phone" required="false" type="xsd:string" style="query" default="2025551212">
                <doc>(optional) the phone number for the venue</doc>
            </param>
            <param name="geolat" required="false" type="xsd:string" style="query" default="40.01685">
                <doc>Geographical Latitude</doc>
            </param>
            <param name="geolong" required="false" type="xsd:string" style="query" default="-105.276489">
                <doc>Geographical Longitude</doc>
            </param>
            <param name="primarycategoryid" required="false" type="xsd:string" style="query" default="12345">
                <doc>(optional) the ID of the category to which you want to assign
                    this venue
                </doc>
            </param>
            <method id="add_venue" name="POST">
                <apigee:tags xmlns:apigee="http://api.apigee.com/wadl/2010/07/">
                    <apigee:tag primary="true">Venue</apigee:tag>
                </apigee:tags>
                <apigee:authentication xmlns:apigee="http://api.apigee.com/wadl/2010/07/" required="true"/>
                <apigee:example xmlns:apigee="http://api.apigee.com/wadl/2010/07/"
                                url="/addvenue.{format}?name={name}&amp;geolat={geolat}&amp;geolong={geolong}"/>
            </method>
        </resource>

        <resource path="venue/proposeedit.{format}">
            <param name="format" type="xsd:string" style="template" required="true" default="json">
                <option value="xml" mediaType="application/xml"/>
                <option value="json" mediaType="application/json"/>
            </param>
            <param name="vid" required="true" type="xsd:string" style="query" default="49049">
                <doc>the venue for which you want to propose an edit</doc>
            </param>
            <param name="name" required="true" type="xsd:string" style="query" default="Pig &amp; Whistle">
                <doc>The name of the venue</doc>
            </param>
            <param name="address" required="true" type="xsd:string" style="query" default="202 1st Avenue">
                <doc>the address of the venue</doc>
            </param>
            <param name="crossstreet" required="true" type="xsd:string" style="query" default="btw Grand &amp; Broome">
                <doc>the cross streets</doc>
            </param>
            <param name="city" required="true" type="xsd:string" style="query" default="Rome">
                <doc>the city name where this venue is</doc>
            </param>
            <param name="state" required="true" type="xsd:string" style="query" default="Italy">
                <doc>the state where the city is</doc>
            </param>
            <param name="zip" required="false" type="xsd:string" style="query" default="10002">
                <doc>(optional) the ZIP code for the venue</doc>
            </param>
            <param name="phone" required="false" type="xsd:string" style="query" default="2025551212">
                <doc>(optional) the phone number for the venue</doc>
            </param>
            <param name="geolat" required="false" type="xsd:string" style="query" default="40.01685">
                <doc>Geographical Latitude (optional, but recommended)</doc>
            </param>
            <param name="geolong" required="true" type="xsd:string" style="query" default="-105.276489">
                <doc>Geographical Longitude (optional, but recommended)</doc>
            </param>
            <method id="propose_venue_edit" name="POST">
                <apigee:tags xmlns:apigee="http://api.apigee.com/wadl/2010/07/">
                    <apigee:tag primary="true">Venue</apigee:tag>
                </apigee:tags>
                <apigee:authentication xmlns:apigee="http://api.apigee.com/wadl/2010/07/" required="true"/>
                <apigee:example xmlns:apigee="http://api.apigee.com/wadl/2010/07/"
                                url="/venue/proposeedit.{format}?vid={vid}&amp;name={name}&amp;address={address}&amp;crossstreet={crossstreet}&amp;city={city}&amp;state={state}&amp;geolat={geolat}&amp;geolong={geolong}"/>
            </method>
        </resource>

        <resource path="venue/flagclosed.{format}">
            <param name="format" type="xsd:string" style="template" required="true" default="json">
                <option value="xml" mediaType="application/xml"/>
                <option value="json" mediaType="application/json"/>
            </param>
            <param name="vid" required="true" type="xsd:string" style="query" default="49049">
                <doc>the venue that you want marked closed</doc>
            </param>
            <method id="flag_venue_as_closed" name="POST">
                <apigee:tags xmlns:apigee="http://api.apigee.com/wadl/2010/07/">
                    <apigee:tag primary="true">Venue</apigee:tag>
                </apigee:tags>
                <apigee:authentication xmlns:apigee="http://api.apigee.com/wadl/2010/07/" required="true"/>
                <apigee:example xmlns:apigee="http://api.apigee.com/wadl/2010/07/"
                                url="/venue/flagclosed.json?vid={vid}"/>
            </method>
        </resource>

        <resource path="venue/flagmislocated.{format}">
            <param name="format" type="xsd:string" style="template" required="true" default="json">
                <option value="xml" mediaType="application/xml"/>
                <option value="json" mediaType="application/json"/>
            </param>
            <param name="vid" required="true" type="xsd:string" style="query" default="49049">
                <doc>The venue that you want marked mislocated</doc>
            </param>
            <method id="flag_venue_as_mislocated" name="POST">
                <apigee:tags xmlns:apigee="http://api.apigee.com/wadl/2010/07/">
                    <apigee:tag primary="true">Venue</apigee:tag>
                </apigee:tags>
                <apigee:authentication xmlns:apigee="http://api.apigee.com/wadl/2010/07/" required="true"/>
                <apigee:example xmlns:apigee="http://api.apigee.com/wadl/2010/07/"
                                url="/venue/flagmislocated.json?vid={vid}"/>
            </method>
        </resource>

        <resource path="venue/flagduplicate.{format}">
            <param name="format" type="xsd:string" style="template" required="true" default="json">
                <option value="xml" mediaType="application/xml"/>
                <option value="json" mediaType="application/json"/>
            </param>
            <param name="vid" required="true" type="xsd:string" style="query" default="49049">
                <doc>The venue that you want marked as a duplicate</doc>
            </param>
            <method id="flag_venue_as_duplicated" name="POST">
                <apigee:tags xmlns:apigee="http://api.apigee.com/wadl/2010/07/">
                    <apigee:tag primary="true">Venue</apigee:tag>
                </apigee:tags>
                <apigee:authentication xmlns:apigee="http://api.apigee.com/wadl/2010/07/" required="true"/>
                <apigee:example xmlns:apigee="http://api.apigee.com/wadl/2010/07/"
                                url="/venue/flagduplicate.json?vid={vid}"/>
            </method>
        </resource>

        <resource path="tips.{format}">
            <param name="format" type="xsd:string" style="template" required="true" default="json">
                <option value="xml" mediaType="application/xml"/>
                <option value="json" mediaType="application/json"/>
            </param>
            <param name="geolat" required="true" type="xsd:string" style="query" default="40.01685">
                <doc>Geographical Latitude</doc>
            </param>
            <param name="geolong" required="true" type="xsd:string" style="query" default="-105.276489">
                <doc>Geographical Longitude</doc>
            </param>
            <param name="filter" required="true" type="xsd:string" style="query" default="nearby">
                <doc>one of "nearby" or "friends" indicating whether to return all
                    nearby tips, or just nearby tips from friends (required, unless uid
                    is specified)
                </doc>
            </param>
            <param name="uid" required="false" type="xsd:string" style="query" default="49049">
                <doc>a particular user id to get tips from (optional, see filter)
                </doc>
            </param>
            <param name="sort" required="false" type="xsd:string" style="query" default="nearby">
                <doc>one of "nearby", "recent", or "popular" (optional, only
                    applies if uid is specified, for which it is required)
                </doc>
            </param>
            <param name="l" required="false" type="xsd:string" style="query" default="30">
                <doc>limit of results (optional, default 30)</doc>
            </param>
            <method id="nearby" name="GET">
                <apigee:tags xmlns:apigee="http://api.apigee.com/wadl/2010/07/">
                    <apigee:tag primary="true">Tip</apigee:tag>
                </apigee:tags>
                <apigee:authentication xmlns:apigee="http://api.apigee.com/wadl/2010/07/" required="false"/>
                <apigee:example xmlns:apigee="http://api.apigee.com/wadl/2010/07/"
                                url="/tips.json?geolat={geolat}&amp;geolong={geolong}&amp;filter={filter}"/>
            </method>
        </resource>

        <resource path="addtip.{format}">
            <param name="format" type="xsd:string" style="template" required="true" default="json">
                <option value="xml" mediaType="application/xml"/>
                <option value="json" mediaType="application/json"/>
            </param>
            <param name="geolat" required="false" type="xsd:string" style="query" default="40.01685">
                <doc>Geographical Latitude</doc>
            </param>
            <param name="geolong" required="false" type="xsd:string" style="query" default="-105.276489">
                <doc>Geographical Longitude</doc>
            </param>
            <param name="vid" required="true" type="xsd:string" style="query" default="49049">
                <doc>the venue where you want to add this tip (required)</doc>
            </param>
            <param name="text" required="false" type="xsd:string" style="query" default="nearby">
                <doc>the text of the tip (required)</doc>
            </param>
            <method id="add_tip" name="POST">
                <apigee:tags xmlns:apigee="http://api.apigee.com/wadl/2010/07/">
                    <apigee:tag primary="true">Tip</apigee:tag>
                </apigee:tags>
                <apigee:authentication xmlns:apigee="http://api.apigee.com/wadl/2010/07/" required="true"/>
                <apigee:example xmlns:apigee="http://api.apigee.com/wadl/2010/07/"
                                url="/addtip.json?vid={vid}&amp;text={text}&amp;geolat={geolat}&amp;geolong={geolong}"/>
            </method>
        </resource>

        <resource path="tip/marktodo.{format}">
            <param name="format" type="xsd:string" style="template" required="true" default="json">
                <option value="xml" mediaType="application/xml"/>
                <option value="json" mediaType="application/json"/>
            </param>
            <param name="tid" required="true" type="xsd:string" style="query" default="">
                <doc>the tip that you want to mark to-do (required)</doc>
            </param>
            <method id="mark_tip_as_to_do" name="POST">
                <apigee:tags xmlns:apigee="http://api.apigee.com/wadl/2010/07/">
                    <apigee:tag primary="true">Tip</apigee:tag>
                </apigee:tags>
                <apigee:authentication xmlns:apigee="http://api.apigee.com/wadl/2010/07/" required="true"/>
                <apigee:example xmlns:apigee="http://api.apigee.com/wadl/2010/07/" url="/tip/marktodo.json?tid={tid}"/>
            </method>
        </resource>

        <resource path="tip/markdone.{format}">
            <param name="format" type="xsd:string" style="template" required="true" default="json">
                <option value="xml" mediaType="application/xml"/>
                <option value="json" mediaType="application/json"/>
            </param>
            <param name="tid" required="true" type="xsd:string" style="query" default="">
                <doc>the tip that you want to mark done (required)</doc>
            </param>
            <method id="mark_tip_as_done" name="POST">
                <apigee:tags xmlns:apigee="http://api.apigee.com/wadl/2010/07/">
                    <apigee:tag primary="true">Tip</apigee:tag>
                </apigee:tags>
                <apigee:authentication xmlns:apigee="http://api.apigee.com/wadl/2010/07/" required="true"/>
                <apigee:example xmlns:apigee="http://api.apigee.com/wadl/2010/07/" url="/tip/markdone.json?tid={tid}"/>
            </method>
        </resource>

        <resource path="tip/unmark.{format}">
            <param name="format" type="xsd:string" style="template" required="true" default="json">
                <option value="xml" mediaType="application/xml"/>
                <option value="json" mediaType="application/json"/>
            </param>
            <param name="tid" required="true" type="xsd:string" style="query" default="">
                <doc>the tip that you want to unmark (required)</doc>
            </param>
            <method id="unmark_a_tip" name="POST">
                <apigee:tags xmlns:apigee="http://api.apigee.com/wadl/2010/07/">
                    <apigee:tag primary="true">Tip</apigee:tag>
                </apigee:tags>
                <apigee:authentication xmlns:apigee="http://api.apigee.com/wadl/2010/07/" required="true"/>
                <apigee:example xmlns:apigee="http://api.apigee.com/wadl/2010/07/" url="/tip/unmark.json?tid={tid}"/>
            </method>
        </resource>

        <resource path="tip/detail.{format}">
            <param name="format" type="xsd:string" style="template" required="true" default="json">
                <option value="xml" mediaType="application/xml"/>
                <option value="json" mediaType="application/json"/>
            </param>
            <param name="tid" required="true" type="xsd:string" style="query" default="">
                <doc>the tip that you want details for (required)</doc>
            </param>
            <method id="get_tip_details" name="GET">
                <apigee:tags xmlns:apigee="http://api.apigee.com/wadl/2010/07/">
                    <apigee:tag primary="true">Tip</apigee:tag>
                </apigee:tags>
                <apigee:authentication xmlns:apigee="http://api.apigee.com/wadl/2010/07/" required="true"/>
                <apigee:example xmlns:apigee="http://api.apigee.com/wadl/2010/07/" url="/tip/detail.json?tid={tid}"/>
            </method>
        </resource>

        <resource path="todos.{format}">
            <param name="format" type="xsd:string" style="template" required="true" default="json">
                <option value="xml" mediaType="application/xml"/>
                <option value="json" mediaType="application/json"/>
            </param>
            <param name="geolat" required="true" type="xsd:string" style="query" default="40.01685">
                <doc>Geographical Latitude</doc>
            </param>
            <param name="geolong" required="true" type="xsd:string" style="query" default="-105.276489">
                <doc>Geographical Longitude</doc>
            </param>
            <param name="uid" required="false" type="xsd:string" style="query" default="49049">
                <doc>a particular user id to get tips from (optional, defaults to
                    authenticated user)
                </doc>
            </param>
            <param name="sort" required="false" type="xsd:string" style="query" default="nearby">
                <doc>
                    one of "nearby" or "recent"
                </doc>
            </param>
            <param name="l" required="false" type="xsd:string" style="query" default="30">
                <doc>limit of results (optional, default 30)</doc>
            </param>
            <method id="get_a_list_of_to_dos" name="GET">
                <apigee:tags xmlns:apigee="http://api.apigee.com/wadl/2010/07/">
                    <apigee:tag primary="true">Tip</apigee:tag>
                </apigee:tags>
                <apigee:authentication xmlns:apigee="http://api.apigee.com/wadl/2010/07/" required="true"/>
                <apigee:example xmlns:apigee="http://api.apigee.com/wadl/2010/07/"
                                url="/todos.json?geolat={geolat}&amp;geolong={geolong}"/>
            </method>
        </resource>

        <resource path="friend/requests.{format}">
            <param name="format" type="xsd:string" style="template" required="true" default="json">
                <option value="xml" mediaType="application/xml"/>
                <option value="json" mediaType="application/json"/>
            </param>
            <method id="pending_friend_request" name="GET">
                <apigee:tags xmlns:apigee="http://api.apigee.com/wadl/2010/07/">
                    <apigee:tag primary="true">Friend</apigee:tag>
                </apigee:tags>
                <apigee:authentication xmlns:apigee="http://api.apigee.com/wadl/2010/07/" required="true"/>
                <apigee:example xmlns:apigee="http://api.apigee.com/wadl/2010/07/" url="/friend/requests.json"/>
            </method>
        </resource>

        <resource path="friend/approve.{format}">
            <param name="format" type="xsd:string" style="template" required="true" default="json">
                <option value="xml" mediaType="application/xml"/>
                <option value="json" mediaType="application/json"/>
            </param>
            <param name="uid" required="false" type="xsd:string" style="query" default="49049">
                <doc>
                    the user ID of the user who you want to approve
                </doc>
            </param>
            <method id="approve_friend_request" name="POST">
                <apigee:tags xmlns:apigee="http://api.apigee.com/wadl/2010/07/">
                    <apigee:tag primary="true">Friend</apigee:tag>
                </apigee:tags>
                <apigee:authentication xmlns:apigee="http://api.apigee.com/wadl/2010/07/" required="true"/>
                <apigee:example xmlns:apigee="http://api.apigee.com/wadl/2010/07/"
                                url="/friend/approve.json?uid={uid}"/>
            </method>
        </resource>

        <resource path="friend/deny.{format}">
            <param name="format" type="xsd:string" style="template" required="true" default="json">
                <option value="xml" mediaType="application/xml"/>
                <option value="json" mediaType="application/json"/>
            </param>
            <param name="uid" required="false" type="xsd:string" style="query" default="49049">
                <doc>
                    the user ID of the user who you want to deny
                </doc>
            </param>
            <method id="deny_friend_request" name="POST">
                <apigee:tags xmlns:apigee="http://api.apigee.com/wadl/2010/07/">
                    <apigee:tag primary="true">Friend</apigee:tag>
                </apigee:tags>
                <apigee:authentication xmlns:apigee="http://api.apigee.com/wadl/2010/07/" required="true"/>
                <apigee:example xmlns:apigee="http://api.apigee.com/wadl/2010/07/" url="/friend/deny.json?uid={uid}"/>
            </method>
        </resource>

        <resource path="friend/sendrequest.{format}">
            <param name="format" type="xsd:string" style="template" required="true" default="json">
                <option value="xml" mediaType="application/xml"/>
                <option value="json" mediaType="application/json"/>
            </param>
            <param name="uid" required="false" type="xsd:string" style="query" default="49049">
                <doc>
                    the user ID of the user who you want to deny
                </doc>
            </param>
            <method id="send_friend_request" name="POST">
                <apigee:tags xmlns:apigee="http://api.apigee.com/wadl/2010/07/">
                    <apigee:tag primary="true">Friend</apigee:tag>
                </apigee:tags>
                <apigee:authentication xmlns:apigee="http://api.apigee.com/wadl/2010/07/" required="true"/>
                <apigee:example xmlns:apigee="http://api.apigee.com/wadl/2010/07/"
                                url="/friend/sendrequest.json?uid={uid}"/>
            </method>
        </resource>

        <resource path="findfriends/byname.{format}">
            <param name="format" type="xsd:string" style="template" required="true" default="json">
                <option value="xml" mediaType="application/xml"/>
                <option value="json" mediaType="application/json"/>
            </param>
            <param name="q" required="true" type="xsd:string" style="query" default="John">
                <doc>
                    the string you want to use to search firstnames and lastnames
                </doc>
            </param>
            <method id="find_friends_by_name" name="GET">
                <apigee:tags xmlns:apigee="http://api.apigee.com/wadl/2010/07/">
                    <apigee:tag primary="true">Friend</apigee:tag>
                </apigee:tags>
                <apigee:authentication xmlns:apigee="http://api.apigee.com/wadl/2010/07/" required="true"/>
                <apigee:example xmlns:apigee="http://api.apigee.com/wadl/2010/07/"
                                url="/findfriends/byname.json?q={q}"/>
            </method>
        </resource>

        <resource path="findfriends/byphone.{format}">
            <param name="format" type="xsd:string" style="template" required="true" default="json">
                <option value="xml" mediaType="application/xml"/>
                <option value="json" mediaType="application/json"/>
            </param>
            <param name="q" required="true" type="xsd:string" style="query" default="2025551212">
                <doc>
                    the string you want to use to search for phone numbers
                </doc>
            </param>
            <method id="find_friends_by_phone" name="GET">
                <apigee:tags xmlns:apigee="http://api.apigee.com/wadl/2010/07/">
                    <apigee:tag primary="true">Friend</apigee:tag>
                </apigee:tags>
                <apigee:authentication xmlns:apigee="http://api.apigee.com/wadl/2010/07/" required="true"/>
                <apigee:example xmlns:apigee="http://api.apigee.com/wadl/2010/07/"
                                url="/findfriends/byphone.json?q={q}"/>
            </method>
        </resource>

        <resource path="findfriends/bytwitter.{format}">
            <param name="format" type="xsd:string" style="template" required="true" default="json">
                <option value="xml" mediaType="application/xml"/>
                <option value="json" mediaType="application/json"/>
            </param>
            <param name="q" required="true" type="xsd:string" style="query" default="apigee">
                <doc>
                    (optional) the Twitter name you want to use to search
                </doc>
            </param>
            <method id="find_friends_by_twitter_name" name="GET">
                <apigee:tags xmlns:apigee="http://api.apigee.com/wadl/2010/07/">
                    <apigee:tag primary="true">Friend</apigee:tag>
                </apigee:tags>
                <apigee:authentication xmlns:apigee="http://api.apigee.com/wadl/2010/07/" required="true"/>
                <apigee:example xmlns:apigee="http://api.apigee.com/wadl/2010/07/"
                                url="/findfriends/bytwitter.json?q={q}"/>
            </method>
        </resource>

        <resource path="settings/setpings.{format}">
            <param name="format" type="xsd:string" style="template" required="true" default="json">
                <option value="xml" mediaType="application/xml"/>
                <option value="json" mediaType="application/json"/>
            </param>
            <param name="self" required="true" type="xsd:string" style="query" default="on">
                <doc>
                    the ping status for yourself (globally). possible values are
                    on and
                    off.
                </doc>
            </param>
            <param name="uid" required="false" type="xsd:string" style="query" default="off">
                <doc>
                    set the ping status for a friend. possible values are on and
                    off.
                </doc>
            </param>
            <method id="set_pings" name="POST">
                <apigee:tags xmlns:apigee="http://api.apigee.com/wadl/2010/07/">
                    <apigee:tag primary="true">Settings</apigee:tag>
                </apigee:tags>
                <apigee:authentication xmlns:apigee="http://api.apigee.com/wadl/2010/07/" required="true"/>
                <apigee:example xmlns:apigee="http://api.apigee.com/wadl/2010/07/"
                                url="/settings/setpings?self={on/off}"/>
            </method>
        </resource>

        <resource path="test.{format}">
            <param name="format" type="xsd:string" style="template" required="true" default="json">
                <option value="xml" mediaType="application/xml"/>
                <option value="json" mediaType="application/json"/>
            </param>
            <method id="test" name="GET">
                <apigee:tags xmlns:apigee="http://api.apigee.com/wadl/2010/07/">
                    <apigee:tag primary="true">Other</apigee:tag>
                </apigee:tags>
                <apigee:authentication xmlns:apigee="http://api.apigee.com/wadl/2010/07/" required="false"/>
                <apigee:example xmlns:apigee="http://api.apigee.com/wadl/2010/07/" url="/test.json"/>
            </method>
        </resource>
    </resources>
</application>
